%aside#search-options-screen
	%section#search-screen
		= form_tag('/organizations', :method => :get, :id=>"search-form")
		%section#search-box.mini
			= render :partial => 'home/searchbox'
		%div
			%h1
				Search Options
			= render 'layouts/search_options'