---
http_interactions:
- request:
    method: get
    uri: https://api-staging.smc-connect.org/locations/location-with-no-phone
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"99ec59355cec4cf10bb73497c7cf8f3f"
      Last-Modified:
      - Thu, 19 Jan 2023 01:34:02 GMT
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":1911,"active":false,"admin_emails":[],"alternate_name":"","coordinates":[],"description":"no
        phone","kind":"Other","latitude":null,"longitude":null,"name":"Location with
        no phone","short_desc":"no phone","slug":"location-with-no-phone","updated_at":"2023-01-18T17:34:02.949-08:00","website":null,"url":"https://api-staging.smc-connect.org/locations/location-with-no-phone","accessibility":[],"email":null,"hours":"","languages":[],"transportation":null,"address":null,"organization":{"id":1439,"alternate_name":null,"name":"Testing
        org","slug":"testing-org","url":"https://api-staging.smc-connect.org/organizations/testing-org"},"phones":[],"contacts":[],"mail_address":{"id":1708,"attention":null,"address_1":"puma","address_2":null,"city":"fairfax","state_province":"VA","postal_code":"22031"},"regular_schedules":[],"holiday_schedules":[],"services":[{"id":1871,"accepted_payments":[],"alternate_name":null,"application_process":"Walk
        in.","audience":null,"description":"no unrequired fields for this service","eligibility":null,"email":null,"fees":null,"funding_sources":[],"interpretation_services":null,"keywords":[],"languages":[],"name":"Service
        with blank fields","required_documents":[],"service_areas":[],"status":"defunct","website":null,"wait_time":null,"updated_at":"2023-01-18T17:34:02.947-08:00","categories":[],"contacts":[],"phones":[],"regular_schedules":[],"holiday_schedules":[]}]}'
  recorded_at: Wed, 08 Mar 2023 04:29:50 GMT
recorded_with: VCR 6.1.0
