---
http_interactions:
- request:
    method: get
    uri: https://api-staging.smc-connect.org/search?action=index&controller=locations&keyword=snap
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"1de376b0fb0fdcbdc6acec45f300a64f"
      X-Total-Count:
      - '2'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":1497,"active":true,"admin_emails":null,"alternate_name":"","coordinates":[-122.421524,37.644686],"description":"This
        regional HSA office offers social services eligibility determination and assistance
        for: Health Coverage (Medi-Cal), Food Assistance (CalFresh), Financial Assistance
        (CalWORKs) and General Assistance, and Children and Family Services. Child
        welfare services such as family maintenance, family reunification and long-term
        placement programs are available at this office.","kind":"Human Services","latitude":37.644686,"longitude":-122.421524,"name":"Northern
        Region., Human Services Agency, South San Francisco Office","short_desc":"Provides
        social services eligibility determination and assistance for Health Coverage,
        CalFresh, CalWORKs and General Assistance and Children and Family Services.","slug":"northern-region-human-services-agency-south-san-francisco-office","updated_at":"2017-11-30T06:22:57.299-08:00","website":"http://www.smchsa.org","url":"https://api-staging.smc-connect.org/locations/northern-region-human-services-agency-south-san-francisco-office","address":{"id":1236,"address_1":"1487
        Huntington Avenue","address_2":null,"city":"South San Francisco","state_province":"CA","postal_code":"94080"},"organization":{"id":1310,"accreditations":[],"alternate_name":null,"date_incorporated":null,"description":null,"email":null,"funding_sources":[],"licenses":[],"name":"San
        Mateo County Human Services Agency","website":null,"slug":"san-mateo-county-human-services-agency","url":"https://api-staging.smc-connect.org/organizations/san-mateo-county-human-services-agency","locations_url":"https://api-staging.smc-connect.org/organizations/san-mateo-county-human-services-agency/locations"},"phones":[{"id":2091,"department":null,"extension":null,"number":"650
        877-5608","number_type":"voice","vanity_number":null},{"id":3442,"department":null,"extension":null,"number":"650
        877-5606","number_type":"fax","vanity_number":null}]},{"id":1499,"active":true,"admin_emails":null,"alternate_name":"","coordinates":[-122.4738042,37.6894381],"description":"This
        regional HSA office offers social services eligibility determination and assistance
        for: Health Coverage (Medi-Cal), Food Assistance (CalFresh), Financial Assistance
        (CalWORKs) and General Assistance, and Employment Service[...]
