= field_set_tag nil, id: 'org-name-options' do
  = label_tag 'org_name', 'Agency Name'
  = search_field_tag :org_name, params[:org_name], placeholder: 'Enter a full or partial name', list: 'search-agency'