%aside#search-container
	%section#search-screen
		= form_tag('/organizations', :method => :get, :id=>"search-form")
		%section#search-box
			= render :partial => 'component/search/box'
		%section#search-options-screen
			%h1
				Search Options
			= render 'component/search/options'