%div
  %label{:for => "keyword"}
    I need
    %span{"data-icon"=>"â†’" , :class=>"ohana-icon"}
  = search_field_tag "keyword", params[:keyword], :placeholder => "e.g. food"         

%div
  %label{:for => "location"}
    I am near
    %span{"data-icon"=>"â†’" , :class=>"ohana-icon"}
  = search_field_tag :location, params[:location], :placeholder => "e.g. san mateo, ca"
  = hidden_field_tag 'page-number', @pagination.current
%div/
/= button_tag 
%button
  %span{"data-icon"=>"ðŸ”" , :class=>"search-button ohana-icon"}
  Find