%section#search-box
  %div#category-search
    â˜…
  = form_tag('/organizations', :method => :get, :id=>"search-form")
  %div
    %label{:for => "keyword"}
      I need
      %span{"data-icon"=>"â†’" , :class=>"ohana-icon"}
    = search_field_tag "keyword", params[:keyword], :placeholder => "e.g. food", :list => "search-keywords"        

  %div
    %label{:for => "location"}
      I am near
      %span{"data-icon"=>"â†’" , :class=>"ohana-icon"}
    = search_field_tag :location, params[:location], :placeholder => "e.g. san mateo, ca", :list => "search-locations"

  %div
    %button#find-btn
      %span{"data-icon"=>"ðŸ”" , :class=>"search-button ohana-icon"}
      Find

  %datalist#search-keywords
    - @keywords.each do |keyword|
      %option{:value=>keyword}

  %datalist#search-locations
    - @locations.each do |location|
      %option{:value=>location}