%section#category-box
  -# Category search terms that are displayed on the homepage
  - cache ['service-list', *service_terms] do
    %section#general-services
      %ul
        - service_terms.each do |service|
          = render :partial => "home/category_links", :locals => { :service => service }
  - cache ['emergency-list', *emergency_terms] do
    %section#emergency-services
      %ul
        - emergency_terms.each do |service|
          = render :partial => "home/category_links", :locals => { :service => service }
