%section#category-box
  -# Category search terms that are displayed on the homepage
  %section#general-services
    %ul
      - service_terms.each do |service|
        = render :partial => "home/category_links", :locals => { :service => service }

  %section#emergency-services
    %ul
      - emergency_terms.each do |service|
        = render :partial => "home/category_links", :locals => { :service => service }
