#geolocate-box
  = button_tag(type: 'submit', name: nil, id: 'button-geolocate', class: "button-small #{context_class}", data: { wait_text: t('buttons.during_geolocation'), regular_text: t('buttons.services_near_me') }) do
    %i{ class: 'fa fa-globe' }
    %span= t('buttons.services_near_me')
