%section#language-box
  %ul
    %li
      - if @current_lang == 'en'
        %button{:disabled=>"disabled",:lang=>"en",:class=>"notranslate button-small"}
          %strong
            English
      - else
        %a{:href=>"?translate=en",:lang=>"en",:class=>"notranslate button-small"}
          %strong
            English
    %li
      - if @current_lang == 'es'
        %button{:disabled=>"disabled",:lang=>"es",:class=>"notranslate button-small"}
          %strong
            Español
      - else
        %a{:href=>"?translate=es",:lang=>"es",:class=>"notranslate button-small"}
          %strong
            Español
    %li
      - if @current_lang == 'tl'
        %button{:disabled=>"disabled",:lang=>"tl",:class=>"notranslate button-small"}
          %strong
            Tagalog
      - else
        %a{:href=>"?translate=tl",:lang=>"fi",:class=>"notranslate button-small"}
          %strong
            Tagalog
    %li
      - if @current_lang == 'zh-CN'
        %button{:disabled=>"disabled",:lang=>"zh-CN",:class=>"notranslate button-small"}
          %strong
            中文
      - else
        %a{:href=>"?translate=zh-CN",:lang=>"zh",:class=>"notranslate button-small"}
          %strong
            中文
    %li
      - if @current_lang == 'ar'
        %abutton{:disabled=>"disabled",:lang=>"ar",:class=>"notranslate button-small"}
          %strong
            العربية
      - else
        %a{:href=>"?translate=ar",:lang=>"ar",:class=>"notranslate button-small"}
          %strong
            العربية
    %li
      - if @current_lang == 'ru'
        %button{:disabled=>"disabled",:lang=>"ru",:class=>"notranslate button-small"}
          %strong
            Русский
      - else
        %a{:href=>"?translate=ru",:lang=>"ru",:class=>"notranslate button-small"}
          %strong
            Русский
