%section#language-box
  %ul
    %li
      %a{:href=>"?translate=english",:lang=>"en",:class=>"notranslate"}
        English
    %li
      %a{:href=>"?translate=spanish",:lang=>"es",:class=>"notranslate"}
        Español
    %li
      %a{:href=>"?translate=tagalog",:lang=>"fi",:class=>"notranslate"}
        Tagalog
    %li
      %a{:href=>"?translate=chinese",:lang=>"zh",:class=>"notranslate"}
        中文
    %li
      %a{:href=>"?translate=arabic",:lang=>"ar",:class=>"notranslate"}
        العربية
    %li
      %a{:href=>"?translate=russian",:lang=>"ru",:class=>"notranslate"}
        Русский