%section#language-box
  %p
    Filter services by language translation availability:
  %ul
    %li
      %a{:href=>"/organizations/?language=spanish"}
        Español
    %li
      %a{:href=>"/organizations/?language=tagalog"}
        Tagalog
    %li
      %a{:href=>"/organizations/?language=chinese"}
        中文
    %li
      %a{:href=>"/organizations/?language=arabic"}
        العربية
    %li
      %a{:href=>"/organizations/?language=russian"}
        Русский
