%section#language-box
  %ul
    %li
      = ENV['TRANSLATE_URL']
      - if @current_lang == 'en'
        %span{:lang=>"en",:class=>"notranslate"}
          English
      - else
        %a{:href=>"?translate=en",:lang=>"en",:class=>"notranslate"}
          English
    %li
      - if @current_lang == 'es'
        %span{:lang=>"es",:class=>"notranslate"}
          Español
      - else
        %a{:href=>"?translate=es",:lang=>"es",:class=>"notranslate"}
          Español
    %li
      - if @current_lang == 'tl'
        %span{:lang=>"tl",:class=>"notranslate"}
          Tagalog
      - else
        %a{:href=>"?translate=tl",:lang=>"fi",:class=>"notranslate"}
          Tagalog
    %li
      - if @current_lang == 'zh-CN'
        %span{:lang=>"zh-CN",:class=>"notranslate"}
          中文
      - else
        %a{:href=>"?translate=zh-CN",:lang=>"zh",:class=>"notranslate"}
          中文
    %li
      - if @current_lang == 'ar'
        %span{:lang=>"ar",:class=>"notranslate"}
          العربية
      - else
        %a{:href=>"?translate=ar",:lang=>"ar",:class=>"notranslate"}
          العربية
    %li
      - if @current_lang == 'ru'
        %span{:lang=>"ru",:class=>"notranslate"}
          Русский
      - else
        %a{:href=>"?translate=ru",:lang=>"ru",:class=>"notranslate"}
          Русский
