%section#location-box.hide
  %div
    %div
      %label{:for => "location"}
        I am near...
      = search_field_tag :location, params[:location], :placeholder => "enter a location", :list => "search-locations"
    %button{:type=>'submit',:id=>'location-search-btn', :title=>"Search"}
      %span{"data-icon"=>"ðŸ”" , :class=>"search-button ohana-icon"}

    %div#geolocate-box
      %h1
        %a#locate-btn
          Find current Location
    %div#locate-close-btn.close-button