%section#search-options
	%h1
		Search Options
	%fieldset
		%legend Location
		%label{:for=>"radius"}
			Search radius:
		= select_tag :radius, options_for_select([['1 mile', 1],['2 miles', 2],['3 miles', 3],['4 miles', 4],['5 miles', 5],['10 miles', 10],['20 miles', 20],['30 miles', 30],['40 miles', 40],['50 miles', 50]], :selected => params[:radius])