%section#search-options
  -#
    %section#map-view
      %header#map-search-results
        %span{"data-icon"=>"⊕" , :class=>"ohana-icon"}
        %div
          %input{:type=>"checkbox"}
          Redo search on map
      %div.hide#map-canvas
      %div#marker-info
  -#
    %fieldset
      %legend Location
      %label{:for=>"radius"}
        Search radius:
      = select_tag :radius, options_for_select([['2 miles', 2],['5 miles', 5],['10 miles', 10]], :selected => params[:radius])