%section#search-options
	%h1
		Search Options
	%fieldset
		%legend Location
		%label{:for=>"radius"}
			Search radius:
		= select_tag :radius, options_for_select([['2 miles', 2],['5 miles', 5],['10 miles', 10]], :selected => params[:radius])