= field_set_tag nil, id: 'service-area-options', class: 'input-search-filter' do
  = label_tag 'service_area', 'Uncheck to include additional Bay Area services'
  = check_box_tag 'service_area', 'smc', all_service_areas?
