---
http_interactions:
- request:
    method: get
    uri: https://api-staging.smc-connect.org/search?action=index&controller=locations&keyword=alpha%20app
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"b178075b77815e49d0674e01e954e5da"
      X-Total-Count:
      - '1'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":1909,"active":true,"admin_emails":[],"alternate_name":"The Test
        Spot","coordinates":[-122.4099154,37.7726402],"description":"[NOTE THIS IS
        NOT A REAL ORGANIZATION--THIS IS FOR TESTING PURPOSES OF THIS ALPHA APP] Lorem
        ipsum dolor sit amet, consectetur adipiscing elit. Praesent suscipit metus
        eu orci lobortis dictum. In hac habitasse platea dictumst. Vivamus vulputate,
        neque ut sodales gravida, lorem nunc pharetra ligula, ac cursus sem justo
        a sapien. Duis vitae vestibulum magna. Sed vel augue in justo rhoncus viverra.
        Nam ac felis a purus lobortis porttitor sit amet quis est. Suspendisse vulputate
        nisl quis nisi fermentum aliquet euismod at augue. Sed ultricies, purus dapibus
        tristique dictum, tortor mauris porttitor nulla, at porta nisl sem sed dolor.
        Proin ac hendrerit erat. Duis porta iaculis orci, eu euismod quam tristique
        in. Phasellus nec purus sit amet sapien volutpat egestas.","kind":"Other","latitude":37.7726402,"longitude":-122.4099154,"name":"Example
        Location","short_desc":"[NOTE THIS IS NOT A REAL ENTRY--THIS IS FOR TESTING
        PURPOSES OF THIS ALPHA APP]","slug":"example-location","updated_at":"2023-01-18T17:54:11.414-08:00","website":"http://www.example.org","url":"https://api-staging.smc-connect.org/locations/example-location","address":{"id":1613,"address_1":"2013
        Avenue of the fellows","address_2":"Suite 100","city":"San Francisco","state_province":"CA","postal_code":"94103"},"organization":{"id":1437,"accreditations":["BBB","State
        Board of Education"],"alternate_name":"Alternate Agency Name","date_incorporated":"1970-01-01","description":"Sample
        organization description. The Public Library inspires learning through innovative
        and visionary programming and services—literacy programs, support for school
        success, access to technology, safe, inviting spaces for youth and families,
        and gathering places that connect the members of the community with a love
        of reading and learning.","email":"info@example.org","funding_sources":["Donations","Grants","State"],"licenses":["State
        Health Inspection License","State Board of Education License"],"name":"Example
        Agency","website":"http://example.org","slug":"example-agency","url":"https://api-staging.smc-connect.org/organizations/example-agency","locations_url":"https://api-staging.smc-connect.org/organizations/example-agency/locations"},"phones":[{"id":3787,"department":"Information","extension":"123","number":"650
        372-6200","number_type":"<%= first_general_number_type %>","vanity_number":"222-555-INFO"},{"id":3788,"department":"Reservations","extension":null,"number":"650
        627-8244","number_type":"<%= second_general_number_type %>","vanity_number":null},{"id":3789,"department":"Hotline","extension":null,"number":"800
        372-6200","number_type":"<%= third_general_number_type %>","vanity_number":null},{"id":3790,"department":"Rental
        Assistance","extension":"202","number":"650 372-6200","number_type":"<%= fourth_general_number_type %>","vanity_number":null}]}]'
  recorded_at: Fri, 20 Jan 2023 02:35:53 GMT
recorded_with: VCR 6.1.0
