---
http_interactions:
- request:
    method: get
    uri: https://api-staging.smc-connect.org/locations/example-location
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"85319fc670cab7c8106e079647bfd46e"
      Last-Modified:
      - Thu, 19 Jan 2023 01:54:11 GMT
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":1909,"active":true,"admin_emails":[],"alternate_name":"The Test
        Spot","coordinates":[-122.4099154,37.7726402],"description":"[NOTE THIS IS
        NOT A REAL ORGANIZATION--THIS IS FOR TESTING PURPOSES OF THIS ALPHA APP] Lorem
        ipsum dolor sit amet, consectetur adipiscing elit. Praesent suscipit metus
        eu orci lobortis dictum. In hac habitasse platea dictumst. Vivamus vulputate,
        neque ut sodales gravida, lorem nunc pharetra ligula, ac cursus sem justo
        a sapien. Duis vitae vestibulum magna. Sed vel augue in justo rhoncus viverra.
        Nam ac felis a purus lobortis porttitor sit amet quis est. Suspendisse vulputate
        nisl quis nisi fermentum aliquet euismod at augue. Sed ultricies, purus dapibus
        tristique dictum, tortor mauris porttitor nulla, at porta nisl sem sed dolor.
        Proin ac hendrerit erat. Duis porta iaculis orci, eu euismod quam tristique
        in. Phasellus nec purus sit amet sapien volutpat egestas.","kind":"Other","latitude":37.7726402,"longitude":-122.4099154,"name":"Example
        Location","short_desc":"[NOTE THIS IS NOT A REAL ENTRY--THIS IS FOR TESTING
        PURPOSES OF THIS ALPHA APP]","slug":"example-location","updated_at":"2023-01-18T17:54:11.414-08:00","website":"http://www.example.org","url":"https://api-staging.smc-connect.org/locations/example-location","accessibility":["Disabled
        Parking","Disabled Restroom","Wheelchair"],"email":"info@example.org","hours":"Monday-Friday,
        8-5; Saturday, 10-6; Sunday 11-5","languages":["Cantonese","Russian","Spanish","Tagalog","Taiwanese"],"transportation":"SAMTRANS
        stops within 1 block","address":{"id":1613,"address_1":"2013 Avenue of the
        fellows","address_2":"Suite 100","city":"San Francisco","state_province":"CA","postal_code":"94103"},"organization":{"id":1437,"alternate_name":"Alternate
        Agency Name","name":"<%= name %>","slug":"example-agency","url":"https://api-staging.smc-connect.org/organizations/example-agency"},"phones":[{"id":3787,"department":"Information","extension":"123","number":"703-867-5309","number_type":"voice","vanity_number":"222-555-INFO"},{"id":3788,"department":"Reservations","extension":null,"number":"650
        627-8244","number_type":"fax","vanity_number":null},{"id":3789,"department":"Hotline","extension":null,"number":"800
        372-6200","number_type":"hotline","vanity_number":null},{"id":3790,"department":"Rental
        Assistance","extension":"202","number":"650 372-6200","number_type":"tty","vanity_number":null}],"contacts":[{"id":2054,"department":"Referrals","email":"suzanne@example.com","name":"Suzanne
        Badenhoop","title":"Board President","phones":[{"id":3791,"department":"Referrals","extension":"1200","number":"123-456-7890","number_type":"voice","vanity_number":null},{"id":3792,"department":"Referrals","extension":null,"number":"202-555-1212","number_type":"fax","vanity_number":null}]}],"mail_address":{"id":1707,"attention":"The
        Foodies","address_1":"2013 Avenue of the fellows","address_2":"Suite 100","city":"San
        Francisco","state_province":"CA","postal_code":"90210"},"regular_schedules":[{"weekday":1,"opens_at":"2000-01-01T08:00:00.000Z","closes_at":"2000-01-01T17:00:00.000Z"},{"weekday":2,"opens_at":"2000-01-01T08:00:00.000Z","closes_at":"2000-01-01T17:00:00.000Z"},{"weekday":3,"opens_at":"2000-01-01T08:00:00.000Z","closes_at":"2000-01-01T17:00:00.000Z"},{"weekday":4,"opens_at":"2000-01-01T08:00:00.000Z","closes_at":"2000-01-01T17:00:00.000Z"},{"weekday":5,"opens_at":"2000-01-01T08:00:00.000Z","closes_at":"2000-01-01T17:00:00.000Z"},{"weekday":6,"opens_at":"2000-01-01T10:00:00.000Z","closes_at":"2000-01-01T18:00:00.000Z"},{"weekday":7,"opens_at":"2000-01-01T11:00:00.000Z","closes_at":"2000-01-01T17:00:00.000Z"}],"holiday_schedules":[{"closed":true,"start_date":"0001-01-01","end_date":"0001-01-01","opens_at":null,"closes_at":null},{"closed":true,"start_date":"0001-06-01","end_date":"0001-09-01","opens_at":null,"closes_at":null},{"closed":false,"start_date":"0001-12-24","end_date":"0001-12-24","opens_at":"2000-01-01T10:00:00.000Z","closes_at":"2000-01-01T16:00:00.000Z"}],"services":[{"id":1869,"accepted_payments":[],"alternate_name":null,"application_process":"Walk
        in or apply by phone or mail","audience":"Second service and nonprofit businesses,
        the public, military facilities, schools and government entities","description":"[NOTE
        THIS IS NOT A REAL ORGANIZATION--THIS IS FOR TESTTING PURPOSES OF THIS ALPHA
        APP] Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent suscipit
        metus eu orci lobortis dictum. In hac habitasse platea dictumst. Vivamus vulputate,
        neque ut sodales gravida, lorem nunc pharetra ligula, ac cursus sem justo
        a sapien. Duis vitae vestibulum magna. Sed vel augue in justo rhoncus viverra.
        Nam ac felis a purus lobortis porttitor sit amet quis est. Suspendisse vulputate
        nisl quis nisi fermentum aliquet euismod at augue. Sed ultricies, purus dapibus
        tristique dictum, tortor mauris porttitor nulla, at porta nisl sem sed dolor.
        Proin ac hendrerit erat. Duis porta iaculis orci, eu euismod quam tristique
        in. Phasellus nec purus sit amet sapien volutpat egestas.","eligibility":"None","email":null,"fees":"None,
        except for permits and photocopying. Cash, checks and credit cards accepted","funding_sources":["City","County","Federal","State"],"interpretation_services":null,"keywords":["Ruby
        on Rails/Postgres/Redis","testing","wic"],"languages":[],"name":"Example Service
        Name","required_documents":[],"service_areas":["Alameda County","San Mateo
        County"],"status":"active","website":"http://www.example.com","wait_time":"No
        wait to 2 weeks","updated_at":"2023-01-06T13:04:58.840-08:00","categories":[{"id":311,"depth":0,"taxonomy_id":"111","name":"Legal","parent_id":null},{"id":324,"depth":1,"taxonomy_id":"111-02","name":"Mediation","parent_id":311}],"contacts":[],"phones":[],"regular_schedules":[],"holiday_schedules":[]},{"id":1870,"accepted_payments":["Cash","Check","Credit
        Card"],"alternate_name":"Fotos para pasaportes","application_process":"Walk
        in or apply by phone or mail","audience":"Profit and nonprofit businesses,
        the public, military facilities, schools and government entities","description":"[NOTE
        THIS IS NOT A RE[...]
