- if has_field?(org,[field,'ttys'])
  %section{:class=>css_class_format(field)}
    - if icon.present?
      %span{"data-icon"=>icon , :class=>"ohana-icon"}
    %h1 #{title}:
    %ul
      - if has_field?(org,[field])
        - org[field].sort.each do |access|
          %li
            = access
      - if has_field?(org,['ttys'])
        %li
          - org['ttys'].each_with_index do |tty,index|
            %span{:class=>"ttys"}
              TDD/TTY:
              = "#{format_phone(tty)}"