- if (org.key?(field) && org[field].length > 0)

  %section{:class=>css_class_format(field.to_s)}
    - if icon.present?
      %span{"data-icon"=>icon , :class=>"ohana-icon"}
    %h1 #{title}:
    %ul
      - if (org.key?(field) && org[field].length > 0)
        - org[field].sort.each do |access|
          %li
            %span
              = access