%span{ itemscope: '', itemtype: 'http://schema.org/PostalAddress', itemprop: 'address' }
  %span.street-address{ itemprop: 'streetAddress' }><
    = superscript_ordinals(street_address_for(location.address))
  - if lines == 2
    %br
  - else
    ,

  %span.city{ itemprop: 'addressLocality' }
    #{location.address.city},

  %span.state{ itemprop: 'addressRegion' }
    = location.address.state_province

  %span.zipcode{ itemprop: 'postalCode' }
    = location.address.postal_code
