-# The email partial displays the email icon and address.
  e.g. [icon] admin@example.com

- if email.present?
  %section.email.icon-text-block
    %i.fa.fa-envelope-square
    %span
      %a{ href: "mailto:#{email}" }
        %span{ itemprop: 'email' }
          = email
