-# This phone partial displays the phone type and department.
%sup.phone-type
  = phone.number_type
- if phone.department
  %section.phone-department.annotation{ itemprop: 'contactType' }
    = phone.department
