- if service[:urls].present?
  %section{ class: 'urls' }
    %h1= t('service_fields.urls')
    %ul
      - service.urls.sort.each do |url|
        %li
          %span
            %a{ href: url, target: '_blank' }
              %span{ itemprop: 'url' }
                = format_url(url)