- if service.accepted_payments.present?
  %section.accepted-payments
    %h1= t('service_fields.accepted_payments')
    %ul
      - service.accepted_payments.sort.each do |f|
        %li
          %span
            = f
