- if service.status == 'defunct' || service.status == 'inactive'
  %section.status
    %i.fa.fa-warning
    %span
      - case service.status
      - when 'defunct'
        = t('service_fields.status_defunct')
      - when 'inactive'
        = t('service_fields.status_inactive')
