- if service.status == 'defunct' || service.status == 'inactive'
  %section.status
    %i.fa.fa-warning
    %span
      - if service.status == 'defunct'
        = t('service_fields.status_defunct')
      - elsif service.status == 'inactive'
        = t('service_fields.status_inactive')
