- if service.website.present?
  %section.website
    %i{ class: 'fa fa-external-link-square' }
    %a{ href: service.website, target: '_blank' }
      %span{ itemprop: 'url' }
        = format_url(service.website)
