- if org.key?(field)
  %section{:class=>css_class_format(field.to_s)}
    - if defined? iconclass
      %i{:class=>iconclass}
    - if defined? stitle
      - if stitle.present?
        %h1 #{stitle}:
    - if org[field].kind_of?(Array)
      %ul
        - org[field].sort.each do |f|
          %li
            %span
              - if f.kind_of?(Array)
                %ul
                  - org[field].sort.each do |sf|
                    %li
                      %span
                        = sf
              - else
                = f
    - else
      %span
        = org[field]