- if service[field].present?
  %section{:class=>css_class_format(field.to_s)}
    - if defined? iconclass
      %i{ class: iconclass }
    - if defined? stitle
      - if stitle.present?
        %h1 #{stitle}:
    - if service[field].kind_of?(Array)
      %ul
        - service[field].sort.each do |f|
          %li
            %span
              - if f.kind_of?(Array)
                %ul
                  - service[field].sort.each do |sf|
                    %li
                      %span
                        = sf
              - else
                = f
    - else
      %span
        = service[field]