- if org.key?(:urls)
  %section{:class=>'urls'}
    - if defined? icon
      %i{:class=>icon}
    - if defined? stitle
      - if stitle.present?
        %h1 #{stitle}:
    - if org[:urls].kind_of?(Array)
      %ul
        - org[:urls].sort.each do |url|
          %li
            %span
              %a{:href=>url,:target=>"_blank"}
                %span{:itemprop=>"url"}
                  = format_url(url)