- if org[:urls].present?
  %section{:class=>'urls'}
    - if defined? iconclass
      %i{:class=>iconclass}
    - if defined? stitle
      - if stitle.present?
        %h1 #{stitle}:
      %ul
        - org.urls.sort.each do |url|
          %li
            %span
              %a{:href=>url,:target=>"_blank"}
                %span{:itemprop=>"url"}
                  = format_url(url)