%div
  %div.left-column
    %span.static-content><
      - if @map_data.present?
        %a#map-view-control{ :href => '#', :class=>"button-utility button-map-zoom"}
          %i{ :class => "fa fa-plus-square" }
          Larger map
    %p.search-summary
      %span
        = @search_summary_html
      %span.map-summary.static-content
        = @map_search_summary_html

  %div.right-column
    %div.floating-content.hide><
      %span
        %a{ :href => '#', :class=>"button-utility button-top"}
          %i{ :class => "fa fa-chevron-up" }
          Top

    - unless pages[:total_pages] == 0
      = render :partial => 'component/organizations/results/pagination', :locals => {:pages=>@pages}
