%header#floating-results-header.results-header
  = render 'component/organizations/results/header_summary'

-# Persistent header duplicate needed to maintain layout when header floats
%header#persistent-results-header.results-header.persistent
  = render 'component/organizations/results/header_summary'