{
  "presets": [
    ["@babel/preset-env", {
      "modules": false,
      "targets": {
        "browsers": ["> 1%", "last 2 versions"]
      },
      "useBuiltIns": false,
      "forceAllTransforms": true
    }]
  ],

  "plugins": [
    "@babel/syntax-dynamic-import",
    ["@babel/plugin-proposal-class-properties", { "spec": true }]
  ]
}
