language: ruby
bundler_args: "--without development:production"
cache: bundler
sudo: false
script: bundle exec rspec
rvm:
- 2.3.1
deploy:
  provider: heroku
  app: ohana-staging
  strategy: git
  api_key:
    secure: aChobDF6Mbja08bZbo2AOj6/nF0BVoHVcnfmYwRMnIqq4s/3tXQy5B/eefkR1KgTiTpBym6Bp9d52ovQON1JW7J0nc2pHsQcggrcgsf5MWrYSxeqdvDGaOAQ993cBCBlhfTyaGYlHq/yQO6MTEZHQY+6oppLvV9DQstvJEYXqBw=
env:
  global:
  - OHANA_API_ENDPOINT=http://smc-ohana-api-test.herokuapp.com/api
  - DOMAIN_NAME=lvh.me
