language: ruby
bundler_args: "--without development:production"
cache: bundler
sudo: false
script: bundle exec rspec
rvm:
- 2.2.2
notifications:
  webhooks: http://cfa-project-monitor.herokuapp.com/projects/67f80d53-afb0-4344-bd40-2644f55a4462/status
env:
  global:
  - OHANA_API_ENDPOINT=http://ohana-api-test.herokuapp.com/api
  - DOMAIN_NAME=lvh.me
