%div
	%dl
		%dt Health Care Reform
		%dd
			%strong
				Known federally as SNAP (Supplemental Nutrition Assistance Program), CalFresh
			offers nutrition assistance to eligible, low income individuals and families and provides economic benefits to communities.
	%p
		= link_to "More info...", "http://calfresh.ca.gov", :target => "_blank"
%div.corner