---
http_interactions:
- request:
    method: get
    uri: https://api-staging.smc-connect.org/search?action=index&controller=locations&keyword=yoga
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"f4278fe953defd8556449420a19315e4"
      X-Total-Count:
      - '11'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":1611,"active":true,"admin_emails":null,"alternate_name":null,"coordinates":[-122.4198725,37.657129],"description":"A
        drop-in multipurpose center open to any senior 50 or over, but primarily serving
        those in South San Francisco. Social, recreational, educational and special
        activities include bingo, bridge, billiards, knitting and crafts, cooking
        demonstrations, casino trips, sightseeing opportunities and dining outings.
        The Alzheimer''s Support Group and blood pressure screenings are scheduled
        on a regular basis. Tax assistance is available from Februrary to April. HICAP
        (Health Insurance Counseling and Advocacy Program, the Medicare Counseling
        Program) is available by appointment. Exercise, American Line Dancing, and
        ESL (English as a Second Language) are offered at this site by the Parks and
        Recreation Department and Adult Education. Senior social dancing, bead stringing/knotting
        class, yoga classes, Coping with Change support group, Tai Chi, the 55 Alive
        Safety Driving Courses (registration at Magnolia Center), knitting for beginnners,
        and stretching and flexibility are all offered under the umbrella of Senior
        Services and the Parks and Recreation Department at the Municipal Services
        Building at 33 Arroyo Drive, South San Francisco. There is a yearly health
        fair in March and a holiday boutique in November.","kind":"Human Services","latitude":37.657129,"longitude":-122.4198725,"name":"Magnolia
        Center","short_desc":"A multipurpose senior citizens'' center.","slug":"magnolia-center","updated_at":"2017-07-21T16:35:57.263-07:00","website":"http://www.ssf.net","url":"https://api-staging.smc-connect.org/locations/magnolia-center","address":{"id":1344,"address_1":"601
        Grand Avenue, 3rd Floor","address_2":null,"city":"South San Francisco","state_province":"CA","postal_code":"94080"},"organization":{"id":1330,"accreditations":[],"alternate_name":null,"date_incorporated":null,"description":null,"email":null,"funding_sources":[],"licenses":[],"name":"South
        San Francisco Senior Services","website":null,"slug":"south-san-francisco-senior-services","url":"https://api-staging.smc-connect.org/organizations/south-san-francisco-senior-services","locations_url":"https://api-staging.smc-connect.org/organizations/south-san-francisco-senior-services/locations"},"phones":[{"id":2316,"department":null,"extension":null,"number":"650
        829-3820","number_type":"voice","vanity_number":null}]},{"id":1372,"active":true,"admin_emails":null,"alternate_name":"","coordinates":[-122.2131702,37.4773149],"description":"A
        walk-in center for older adults that provides social services, wellness, recreational,
        educational and creative activities including arts and crafts, computer classes
        and gardening classes. Coffee and healthy breakfasts are available daily.
        A hot lunch is served Tuesday-Friday for persons age 60 or over and spouse.
        Provides case[...]
