%div.static-content
	%span.utility-links
		%span
			%a{ :href => '#', :onclick=>"window.print();return false;" }
				-# %span{ "data-icon" => "⎙", :class => "ohana-icon print" }
				Print

		- if org.key?(:coordinates)
			%span
				%a{:href=>"https://maps.google.com/maps?saddr=current+location&daddr=#{address(org)}",:target=>"_blank"}
					%span{"data-icon"=>"🔗" , :class=>"external-link ohana-icon"}
					%span Directions

		%span
			%a{ :href => "#{organizations_url(@search_params)}##{org.id}", :class => "ajax-link",:target=>"_self" }
				%span{ "data-icon" => "◀", :class => "ohana-icon" }
				Back