%header#results-header
	%h1
		Service Provider
	%nav
		-#= render 'component/search/map_data'
		%a{:href=>session['search_results_url'],:class=>"ajax-link"}
			%span{"data-icon"=>"↵" , :class=>"ohana-icon"}
			Return to results