---
http_interactions:
- request:
    method: get
    uri: https://api-staging.smc-connect.org/search?action=index&controller=locations
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"05fd1194a4355ce6e13292992206a722"
      Link:
      - <https://api-staging.smc-connect.org/search?page=60>; rel="last", <https://api-staging.smc-connect.org/search?page=2>;
        rel="next"
      X-Total-Count:
      - '1799'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":4,"active":true,"admin_emails":null,"alternate_name":null,"coordinates":[-122.332764,37.513351],"description":"The
        coroner is required by law to investigate accidental, traumatic and certain
        other types of deaths. In these cases, the office takes charge of the body,
        determines the cause of death and establishes the identity of the dead person
        if necessary. Accepts and considers requests for cremation for indigent county
        residents.","kind":"Government","latitude":37.513351,"longitude":-122.332764,"name":"San
        Mateo County Coroner","short_desc":"Investigates certain types of deaths,
        handles requests for county burials for people without funds.","slug":"san-mateo-county-coroner","updated_at":"2014-11-25T17:21:54.977-08:00","website":"http://www.co.sanmateo.ca.us","url":"https://api-staging.smc-connect.org/locations/san-mateo-county-coroner","address":{"id":4,"address_1":"50
        Tower Road","address_2":null,"city":"San Mateo","state_province":"CA","postal_code":"94402"},"organization":{"id":4,"accreditations":[],"alternate_name":null,"date_incorporated":null,"description":null,"email":null,"funding_sources":[],"licenses":[],"name":"San
        Mateo County Coroner","website":null,"slug":"san-mateo-county-coroner","url":"https://api-staging.smc-connect.org/organizations/san-mateo-county-coroner","locations_url":"https://api-staging.smc-connect.org/organizations/san-mateo-county-coroner/locations"},"phones":[{"id":5,"department":"24
        hours daily","extension":null,"number":"650 312-5562","number_type":"voice","vanity_number":null},{"id":2489,"department":null,"extension":null,"number":"650
        571-6258","number_type":"fax","vanity_number":null}]},{"id":1596,"active":true,"admin_emails":null,"alternate_name":null,"coordinates":[-122.2220981,37.4935958],"description":"IVSN’s
        Maple Street Shelter provides emergency and transitional housing for 75 single
        men and women. For access to Maple Street Shelter, individuals must be referred
        by one of IVSN''s partner referral agency. Visit IVSN''s web[...]
- request:
    method: get
    uri: https://api-staging.smc-connect.org/search?action=index&controller=locations&keyword=&location=&org_name=Example%20Agency
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"46896c2dbe9bdcede3ccfc4ae3a6f94e"
      X-Total-Count:
      - '1'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":19[...]
