---
http_interactions:
- request:
    method: get
    uri: https://api-staging.smc-connect.org/locations/san-mateo-free-medical-clinic
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"e0e82903b4f9d206d7aa694a09ae0e74"
      Last-Modified:
      - Wed, 26 Nov 2014 01:22:17 GMT
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":1390,"active":true,"admin_emails":null,"alternate_name":null,"coordinates":[-122.2931271,37.5326926],"description":"Provides
        free primary and specialty medical and dental services to uninsured, low-income
        residents. Who is Treated? Patients of our clinics are the working poor. They
        tend to earn just enough income to be ineligible for Medi-Cal coverage, yet
        do not receive health insurance through their employers and cannot afford
        to pay for “out-of-pocket” health insurance. Often these residents are forced
        to seek treatment at local emergency rooms and become saddled with medical
        bills that they are unable to pay. Samaritan House’s Free Medical Clinics
        fill this gap in healthcare access for the uninsured and save emergency room
        resources for emergencies. Professional Medical \u0026 Dental Volunteers Thanks
        to its innovative volunteer-based model of service, Samaritan House’s clinics
        are able to treat such a large number of patients with a very small paid staff.
        Almost all of the medical and dental doctors and assistants are volunteering
        their time free of charge. These individuals, either retired or currently
        practicing medicine and dentistry, want to serve their community in their
        limited spare time.","kind":"Human Services","latitude":37.5326926,"longitude":-122.2931271,"name":"San
        Mateo Free Medical Clinic","short_desc":"Provides free medical and dental
        care to those in need. Offers basic medical care for adults.","slug":"san-mateo-free-medical-clinic","updated_at":"2014-11-25T17:22:17.654-08:00","website":"http://www.samaritanhousesanmateo.org","url":"https://api-staging.smc-connect.org/locations/san-mateo-free-medical-clinic","accessibility":["Elevator","Ramp","Wheelchair"],"email":"info@samaritanhousesanmateo.org","hours":"Monday-Friday,
        9-12, 1-4","languages":["Spanish"],"transportation":"SAMTRANS stops within
        1 block.","address":{"id":1130,"address_1":"19 West 39th Avenue","address_2":null,"city":"San
        Mateo","state_province":"CA","postal_code":"94403"},"organization":{"id":498,"alternate_name":null,"name":"Samaritan
        House","slug":"samaritan-house","url":"https://api-staging.smc-connect.org/organizations/samaritan-house"},"phones":[{"id":1904,"department":null,"extension":null,"number":"650
        578-0400","number_type":"voice","vanity_number":null},{"id":3365,"department":null,"extension":null,"number":"650
        578-0440","number_type":"fax","vanity_number":null}],"contacts":[{"id":1621,"department":null,"email":null,"name":"Sharon
        Petersen","title":"Operations Director","phones":[]}],"mail_address":{"id":1387,"attention":"San
        Mateo Free Medical/Dental","address_1":"19 West 39th Avenue","address_2":null,"city":"San
        Mateo","state_province":"CA","postal_code":"94403"},"regular_schedules":[],"holiday_schedules":[],"services":[{"id":1390,"accepted_payments":[],"alternate_name":null,"application_process":"Call
        for screening appointment (650-347-3648).","audience":null,"description":null,"eligibility":"Low-income
        person without access to health care","email":null,"fees":"None.","funding_sources":["Donations","Grants"],"interpretation_services":null,"keywords":["HEALTH
        SERVICES","Outpatient Care","Community Clinics"],"languages":[],"name":null,"required_documents":[],"service_areas":["Belmont","Burlingame","Foster
        City","Millbrae","San Carlos","San Mateo"],"status":"active","website":null,"wait_time":"Varies.","updated_at":"2014-05-24T14:07:51.930-07:00","categories":[{"id":78,"depth":0,"taxonomy_id":"106","name":"Health","parent_id":null},{"id":86,"depth":1,"taxonomy_id":"106-02","name":"Dental
        Care","parent_id":78},{"id":92,"depth":1,"taxonomy_id":"106-04","name":"Health
        Education","parent_id":78},{"id":109,"depth":1,"taxonomy_id":"106-06","name":"Medical
        Care","parent_id":78},{"id":113,"depth":2,"taxonomy_id":"106-06-04","name":"Checkup
        \u0026 Test","parent_id":109},{"id":119,"depth":3,"taxonomy_id":"106-06-04-06","name":"Vision
        Tests","parent_id":113},{"id":121,"depth":2,"taxonomy_id":"106-06-06","name":"Personal
        Hygiene","parent_id":109},{"id":122,"depth":2,"taxonomy_id":"106-06-07","name":"Prevent
        \u0026 Treat","parent_id":109}],"contacts":[],"phones":[],"regular_schedules":[],"holiday_schedules":[]}]}'
  recorded_at: Wed, 08 Mar 2023 04:18:36 GMT
- request:
    method: get
    uri: https://api-staging.smc-connect.org/search?keyword=food
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"754a243e98de78ffa1c1b88a162541bc"
      Link:
      - <https://api-staging.smc-connect.org/search?keyword=food&page=6>; rel="last",
        <https://api-staging.smc-connect.org/search?keyword=food&page=2>; rel="next"
      X-Total-Count:
      - '173'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":1611,"active":true,"admin_emails":null,"alternate_name":null,"coordinates":[-122.4198725,37.657129],"description":"A
        drop-in multipurpose center open to any senior 50 or over, but primarily serving
        those in South San Francisco. Social, recreational, educational and special
        activities include bingo, bridge, billiards, knitting and crafts, cooking[...]
