---
http_interactions:
- request:
    method: get
    uri: https://api-staging.smc-connect.org/search?action=index&controller=locations&keyword=Health%20Insurance
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"8d47af5ace41d5abff9502032aef01cd"
      Link:
      - <https://api-staging.smc-connect.org/search?keyword=Health+Insurance&page=2>;
        rel="last", <https://api-staging.smc-connect.org/search?keyword=Health+Insurance&page=2>;
        rel="next"
      X-Total-Count:
      - '48'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":1599,"active":true,"admin_emails":null,"alternate_name":"","coordinates":[-122.3178101,37.5632958],"description":"A
        full service office that processes claims for all Social Security programs.
        Social Security benefits are based on the worker''s wages and may be paid
        to the worker or the worker''s dependents or survivors. People in need of
        cash aid who are age 65 or over, or who are blind or disabled including blind
        and disabled children, may apply for Supplemental Security Income (SSI). SSI
        recipients automatically qualify for Medi-Cal. Medicare is the federal health
        insurance program for people age 65 or over and those who are disabled or
        have chronic kidney disease. It is best to check first the Web site for information
        about qualifications and the necessary documentation which must be submitted.
        Interim emergency financial assistance may be obtained from the San Mateo
        County Human Services Agency. Applications for homebound persons can be handled
        by phone or mail. Original and duplicate Social Security cards are issued
        here. To request a speaker on Social Security, SSI or Medicare contact the
        office.","kind":"Human Services","latitude":37.5632958,"longitude":-122.3178101,"name":"Central
        San Mateo County District Office","short_desc":"Administers the Social Security
        program for the mid-county area.","slug":"central-san-mateo-county-district-office","updated_at":"2017-06-29T14:32:26.822-07:00","website":"http://www.socialsecurity.gov","url":"https://api-staging.smc-connect.org/locations/central-san-mateo-county-district-office","address":{"id":1335,"address_1":"800
        South Claremont Street, Suite 101","address_2":null,"city":"San Mateo","state_province":"CA","postal_code":"94402-1451"},"organization":{"id":1327,"accreditations":[],"alternate_name":null,"date_incorporated":null,"description":null,"email":null,"funding_sources":[],"licenses":[],"name":"Social
        Security Administration (SSA)","website":null,"slug":"social-security-administration-ssa","url":"https://api-staging.smc-connect.org/organizations/social-security-administration-ssa","locations_url":"https://api-staging.smc-connect.org/organizations/social-security-administration-ssa/locations"},"phones":[{"id":2300,"department":null,"extension":null,"number":"800
        772-1213","number_type":"voice","vanity_number":null},{"id":2301,"department":null,"extension":null,"number":"8003250778","number_type":"tty","vanity_number":null},{"id":3518,"department":null,"extension":null,"number":"650
        579-7046","number_type":"fax","vanity_number":null}]},{"id":1201,"active":true,"admin_emails":null,"alternate_name":"","coordinates":[-122.3785319,37.25627739999999],"description":"Puente
        de la Costa Sur (Puente) is the only community resource center for the South
        Coast of San Mateo County. Puente a[...]
