%footer#app-footer

  %p.get-this-app
    %i.fa.fa-bullhorn
    %a{ href: 'https://github.com/codeforamerica/ohana-web-search' } Get this app
    for your city or
    #{link_to 'view project details', 'http://ohanapi.org'}.

  #google-translate-container
