%li
  = service[:parent]
  %ul
    - service[:children].each do |child|
      - child.include?("/") ? keyword = child.split("/").first : keyword = child
      %li
        %a{ :href => "/organizations?keyword=#{u keyword}", :onClick => "_gaq.push(['_trackEvent', 'Home_Categories', 'Click', '#{child}']);" }
          = child