  <section id="search-screen">
      <%= form_tag('/organizations', :method => :get) %>              
      <!--<form>-->
          <datalist id="categories">
              <option value="food" />
              <option value="food pantry" />
              <option value="food bank" />
              <option value="Samaritan House" />
          </datalist>
          <section id="search-box" class="large">
              <!-- <div><section id="message-box" class="hide"><p>Message</p><div class="corner"></div></section></div> -->
              <div><label for="search-term">I need <span>→</span></label><input id="search-term" type="text" placeholder="e.g. food" list="categories" /></div>
              <div><label for="search-near">I am near <span>→</span></label><%= text_field_tag :address, nil, :placeholder => "e.g. san mateo, ca" %>
                <!--<input id="search-near" type="text" placeholder="e.g. san mateo, ca" />--></div>
              <div><%= button_tag "Find >>>" %><!--<button id="search-btn">Find >>></button>--></div>
          </section>
      <!--</form>-->
      
  </section>