- title ''
%section#search-container
  %section.search-utilities#search-top-utilities
    = render 'component/search/languages'
  = render 'component/search/box'
  %section.search-utilities#search-bottom-utilities
= render 'homepage_links'
