- title ""
%section#search-container
	= render :partial => 'component/search/languages'
	= render :partial => 'component/search/box'
	= render :partial => 'component/search/help'
= render :partial => 'component/search/category'