.hero-unit
  %h1
    Find resources near you
  %p
    %br/
    This site will help you find local resources near you and gives detailed information on the services available at each location.  To get started, enter your address below and click 'search'.
  %p
    %br/
    = form_tag('/organizations', :method => :get)
    = text_field_tag :address, nil, :placeholder => "Address, City, State"
    = submit_tag "Search"
    