- title ""
%section#search-container
  = render :partial => 'component/search/languages'
  = render :partial => 'component/search/box'
  %section#help-box
    = render :partial => 'component/search/geolocate'
= render :partial => 'component/search/category'