- title ''
%section#search-container
  %section#search-top-utilities.search-utilities
    = render 'shared/languages'
  = render 'component/search/box'
  %section#search-bottom-utilities.search-utilities
= render 'homepage_links'