---
http_interactions:
- request:
    method: get
    uri: https://api-staging.smc-connect.org/search?action=index&controller=locations&keyword=wic
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"3e47fe5abef0112519f87d6ec9647969"
      X-Total-Count:
      - '8'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":1455,"active":true,"admin_emails":null,"alternate_name":null,"coordinates":[-122.3171637,37.5624546],"description":"Offers
        nutrition education and supplemental foods to women who are pregnant, post-partum
        or breastfeeding, and children age 5 or under. Families may be low- or medium-income
        and working families may also qualify. There are six WIC clinic sites in the
        county (South San Francisco, East Palo Alto, Redwood City, Daly City, San
        Mateo and Half Moon Bay). Supplemental food is made available through issuance
        of coupons redeemable at most grocery stores for certain food items selected
        to provide essential nutrients. Participation does not affect eligibility
        for food stamps or other public assistance programs. Also assists in finding
        health care and other community services. Formerly known as San Mateo County
        Health Department, Public Health Division. Nutrition Programs. Women, Infants
        and Children (WIC) Program.","kind":"Human Services","latitude":37.5624546,"longitude":-122.3171637,"name":"Family
        Health Services., Public Health Nutrition., Women, Infants and Children (WIC)
        Program","short_desc":"Offers nutrition education and supplemental foods to
        low-income women who are pregnant, post-partum or breastfeeding.","slug":"family-health-services-public-health-nutrition-women-infants-and-children-wic-program","updated_at":"2017-07-24T13:22:38.740-07:00","website":"http://www.smchealth.org/wic","url":"https://api-staging.smc-connect.org/locations/family-health-services-public-health-nutrition-women-infants-and-children-wic-program","address":{"id":1195,"address_1":"477
        9th Avenue, Suite 110","address_2":null,"city":"San Mateo","state_province":"CA","postal_code":"94402"},"organization":{"id":1309,"accreditations":[],"alternate_name":null,"date_incorporated":null,"description":null,"email":null,"funding_sources":[],"licenses":[],"name":"San
        Mateo County Health System","website":null,"slug":"san-mateo-county-health-system","url":"https://api-staging.smc-connect.org/organizations/san-mateo-county-health-system","locations_url":"https://api-staging.smc-connect.org/organizations/san-mateo-county-health-system/locations"},"phones":[{"id":2012,"department":null,"extension":null,"number":"650
        573-2168","number_type":"voice","vanity_number":null},{"id":2013,"department":"Breastfeeding
        Helpline","extension":null,"number":"800 205-0333","number_type":"voice","vanity_number":null}]},{"id":561,"active":true,"admin_emails":null,"alternate_name":null,"coordinates":[-121.914281,37.301772],"description":"Provides
        primary health care. Also provides services in substance abuse, mental health
        counseling, health education, nutrition, WIC and general dentistry. Provides
        outreach and advocacy services to locate an[...]
