---
http_interactions:
- request:
    method: get
    uri: https://api-staging.smc-connect.org/search?action=index&controller=locations&keyword=youth
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"e51f2d938ec9a494fd7901616daad05a"
      Link:
      - <https://api-staging.smc-connect.org/search?keyword=youth&page=11>; rel="last",
        <https://api-staging.smc-connect.org/search?keyword=youth&page=2>; rel="next"
      X-Total-Count:
      - '328'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":1637,"active":true,"admin_emails":null,"alternate_name":null,"coordinates":[-122.3178265,37.5632111],"description":"Promotes,
        champions and sustains the youth asset development model in San Mateo County.
        YDI joins and assists communities in their efforts to build the strengths
        and leadership capacities of youth to be partners in creating a healthy San
        Mateo County. Provides staff for the San Mateo County Youth Commission to
        promote youth development within county government. YDI''s Youth Asset Teams
        provide trainings to help create a common language in the community around
        youth development and the assets model framework. Trainings and technical
        assistance are also provided. Provides on-site support for youth development
        projects at Sequoia High School in Redwood City and Menlo-Atherton High School
        in Atherton.","kind":"Human Services","latitude":37.5632111,"longitude":-122.3178265,"name":"Youth
        Development Initiative (YDI)","short_desc":"Promotes, champions and sustains
        the youth asset development model in San Mateo County.","slug":"youth-development-initiative-ydi","updated_at":"2014-11-25T17:22:22.066-08:00","website":"http://www.star-vista.org/whatwedo_services/counseling/youth/youthdevelopmentinitiative.html","url":"https://api-staging.smc-connect.org/locations/youth-development-initiative-ydi","address":{"id":1365,"address_1":"800
        S. Claremont Ave., Suite 108","address_2":null,"city":"San Mateo","state_province":"CA","postal_code":"94402"},"organization":{"id":58,"accreditations":[],"alternate_name":null,"date_incorporated":null,"description":null,"email":null,"funding_sources":[],"licenses":[],"name":"StarVista","website":null,"slug":"starvista","url":"https://api-staging.smc-connect.org/organizations/starvista","locations_url":"https://api-staging.smc-connect.org/organizations/starvista/locations"},"phones":[{"id":2365,"department":null,"extension":"20","number":"650
        401-8617","number_type":"voice","vanity_number":null},{"id":3538,"department":null,"extension":null,"number":"650
        401-7755","number_type":"fax","vanity_number":null}]},{"id":1474,"active":true,"admin_emails":["c_cchristenson@smcgov.org"],"alternate_name":"Daly
        City Youth Health Center","coordinates":[-122.4713055,37.6906207],"description":"Provides
        low/no-cost primary medical care, mental health counseling services and support
        groups, health education, and other wellness and youth development services
        including a health education leadership training. Services are provided to
        youth/young adults ages 12-24 living in Northern San Mateo County. Core services
        include: primary medical care; individual, family and group counseling for
        concerns such as depression, suicidality, truancy, family issues, sexuality,
        substance abuse, eating disorders, and anger management; Outreach, individual
        and classroom health education, peer health education through Project PLAY
        (Peer Leadership Alternatives for Youth); Elements for Success (Elements):
        a school-to-career transition program focused on developing academic, leadership,
      [...]
- request:
    method: get
    uri: https://api-staging.smc-connect.org/search?action=index&controller=locations&keyword=youth&page=2
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"f7d820169d1458cd6d33b6e7eeb68bba"
      Link:
      - <https://api-staging.smc-connect.org/search?keyword=youth&page=1>; rel="first",
        <https://api-staging.smc-connect.org/search?keyword=youth&page=1>[...]
