/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

//color scheme: corporate trust from kuler.com;
$primary_dark: rgb(3,73,126);       // #03497E
$primary_midtone: rgb(5,150,213);   // #0596D5
$primary_light: rgb(157,235,252);   // #9DEBFC
$secondary_bright: rgb(255,235,27);  // #ffeb1b
$secondary_midbright: rgb(131,180,26);  // #83B41A
$secondary_dull: rgb(153,153,153);  // #999999


html,body
{
    height: 100%;
    font-family: 'Average', serif;
}

.hide
{
   display:none !important; 
}

.transparent
{
    opacity:0;
}

.fade-in
{
    opacity:1;
    transition: opacity 0.25s;
    -webkit-transition: opacity 0.25s; /* Safari */
}

fade-out
{
    opacity:0;
    transition: opacity 0.25s;
    -webkit-transition: opacity 0.25s; /* Safari */
}


#logo
{
    font-size:1.4em;
    color:$primary_midtone;
    padding:10px;
    padding-left:18px;
}

#splash-screen {
    background:$primary_dark;
    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    position: fixed;
    z-index:1;
}

#splash-screen h1
{
    position: absolute;
    top:0;
    left:0;
    background:$secondary_bright;
    width:100%;
    padding:20px;
    margin:0px;
    text-align:center;
    font-size:1.4em;
}

#main-content.fullscreen
{
    min-height:100%;

    background:$primary_midtone;

    background: $primary_midtone; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  $primary_midtone 20%, $primary_dark 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(20%,$primary_midtone), color-stop(100%,$primary_dark)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  $primary_midtone 20%,$primary_dark 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  $primary_midtone 20%,$primary_dark 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  $primary_midtone 20%,$primary_dark 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  $primary_midtone 20%,$primary_dark 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0596d5', endColorstr='#03497e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

#main-content.mini
{
    transition: min-height 0.25s;
    -webkit-transition: min-height 0.25s; /* Safari */

    min-height:100px;
}

#search-box.mini
{
    text-align:center;
}

#search-box.mini div
{
    display:inline;
}

#search-box.mini label
{
    font-size: 1em;
    letter-spacing: 2px;
    color:#fff;
    text-align: right;
    width: 300px;
}

#search-box.mini label span
{
    color:$primary_light;
}

#search-box.mini input
{
    background:$primary_light;
    padding:10px;
    position: relative;
    top: 6px;
    border-color:$primary_midtone;
    border-collapse: collapse;
    height:0px;
    margin-right:20px;
}

#search-box.mini input::-webkit-input-placeholder
{
    color:$secondary_dull;
}

#search-box.mini button
{
    background:$secondary_midbright;
    margin:10px auto;
    color:$secondary_bright;
    border:2px solid $secondary_bright;
    font-family: 'Average', serif;
    font-size:1.2em;
    letter-spacing: 1px;
    width:100px;
}

#search-box.mini button:hover
{
    outline:4px solid $primary_dark;
    color:$primary_dark;
}

#search-box.large 
{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -300px;
    margin-top: -100px; 
    display: table;
}

#search-box.large  div
{
    display:table-row;
    position: relative;
}

#search-box.large label
{
    display:table-cell;
    font-size: 3em;
    letter-spacing: 2px;
    color:$primary_dark;
    text-align: right;
    width: 300px;
}

#search-box.large label span
{
    color:$primary_light;
}

#search-box.large input
{
    display:table-cell;
    background:$primary_light;
    padding:10px;
    margin-left: 20px;
    position: relative;
    top: -10px;
    border-color:$primary_midtone;
    border-collapse: collapse;
    width:300px;
}

#search-box.large input::-webkit-input-placeholder
{
    color:$secondary_dull;
}

#search-box.large button
{
    display:table-cell;
    background:$secondary_midbright;
    margin:10px auto;
    color:$secondary_bright;
    border:2px solid $secondary_bright;
    font-family: 'Average', serif;
    font-size:1.2em;
    letter-spacing: 1px;
    width:100%;
    position: absolute;
}

#search-box.large button:hover
{
    outline:4px solid $primary_dark;
    color:$primary_dark;
}

/*
#search-box > div > div
{
    height:$message_box_height;
    position:relative;
}
*/

#results-entry
{
    border-bottom:1px dashed $primary_light;
    padding:10px;
    border-left:10px solid $secondary_bright;
}

#results-entry:hover
{
    background:$primary_light;
    cursor:pointer;
}

#detail-screen
{
    padding-left:20px;
}

#message-box
{
    display:table-cell;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background:$secondary_bright;
    border: 1px solid $secondary_midbright;
    color:#000;
    position: absolute;
    top: -40px;
    left: 310px;
    z-index: 1;
}

#message-box p
{
    padding:10px;
    margin:0;
}

#message-box .corner
{
    width:10px;
    height:10px;
    background:$secondary_bright;
    border-right: 1px solid $secondary_midbright;
    border-bottom: 1px solid $secondary_midbright;
    transform: rotate(45deg) ;
    -webkit-transform: rotate(45deg) ;
    -moz-transform: rotate(45deg) ;
    -o-transform: rotate(45deg) ;
    -ms-transform: rotate(45deg) ;
    position: absolute;
    top: 45px;
    left: 20px;
}

/* temp */
footer
{
    position:fixed;
    bottom:10px;
    right:10px;
}













/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
