---
http_interactions:
- request:
    method: get
    uri: https://api-staging.smc-connect.org/search?action=index&controller=locations&keyword=health%20care%20reform&location=
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"077c08c53e069a088dde82bb1615c514"
      X-Total-Count:
      - '1'
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '[{"id":323,"active":true,"admin_emails":null,"alternate_name":null,"coordinates":[-122.4001274,37.7923367],"description":"The
        Youth Law Center is a nonprofit public interest law program that works to
        protect the rights, health and lives of disadvantaged children and families.
        The work of the Youth Law Center focuses on reform of the law in juvenile
        justice and child welfare. The Center''s overall purposes are to protect children
        from abuse (focusing upon those in out-of-home placement), and to ensure that
        they receive the treatment and services to which they are legally entitled.
        Staff attorneys work through technical assistance, public education, legislative
        advocacy and litigation when necessary. They also work with other legal service
        organizations, social service personnel, law enforcement personnel, judges,
        and private attorneys representing youth and children; assist states with
        legislative advocacy; prepare manuals and training materials for lawyers and
        youth advocates; and respond to requests for assistance from state and local
        officials, community groups, parents and attorneys.","kind":"Human Services","latitude":37.7923367,"longitude":-122.4001274,"name":"Youth
        Law Center","short_desc":"Legal education, counsel and representation in reform
        of the law regarding the rights of minors.","slug":"youth-law-center","updated_at":"2014-11-25T17:22:00.223-08:00","website":"http://www.ylc.org","url":"https://api-staging.smc-connect.org/locations/youth-law-center","address":{"id":272,"address_1":"200
        Pine Street, Suite 300","address_2":null,"city":"San Francisco","state_province":"CA","postal_code":"94104"},"organization":{"id":323,"accreditations":[],"alternate_name":null,"date_incorporated":null,"description":null,"email":null,"funding_sources":[],"licenses":[],"name":"Youth
        Law Center","website":null,"slug":"youth-law-center","url":"https://api-staging.smc-connect.org/organizations/youth-law-center","locations_url":"https://api-staging.smc-connect.org/organizations/youth-law-center/locations"},"phones":[{"id":428,"department":null,"extension":null,"number":"415
        543-3379","number_type":"voice","vanity_number":null},{"id":2694,"department":null,"extension":null,"number":"415
        956-9022","number_type":"fax","vanity_number":null}]}]'
  recorded_at: Wed, 08 Mar 2023 04:18:27 GMT
recorded_with: VCR 6.1.0
