 <section id="info-screen" class="mini">
	<div class="content">
		<a class="close">×</a>
	 	<h1>OhanaSMC</h1>

		<h2>What is this?</h2>
		<p>
			Retrieve detailed information on the services available in San Mateo County, California.
		</p>

		<p>This project is part of the development of the <strong><a href="https://github.com/codeforamerica/ohana-api" target="_blank">Ohana API</a></strong>, an open source database of community services.
		</p>

	<hr />

	<h2>Contribute</h2>
		<p>
	    <a href="https://github.com/codeforamerica/human_services_finder" target="_blank">View source code</a>
	    ·
	    <a href="https://github.com/codeforamerica/human_services_finder/issues" target="_blank">File a bug/suggestion</a>
	  </p>

	<hr />

	<h2>Credits</h2>

		<p>
	    Developed by the 2013 <a href="http://codeforamerica.org/2013-partners/san-mateo-county/" target="_blank">San Mateo County</a> team of <a href="http://codeforamerica.org" target="_blank">Code for America</a> fellows.
	  </p>

		<p>
			<em>Development team:</em>
			<a href="http://twitter.com/anselmbradford">Anselm Bradford</a> |
			<a href="http://twitter.com/monfresh">Moncef Belyamani</a> |
			<a href="http://twitter.com/spara">Sophia Parafina</a>
		</p>

		<p>Geocoding Courtesy of <a href="http://www.mapquest.com/" target="_blank">MapQuest</a>.</p>

	</div>
</section>