%section.popup
	%div
		%dl 
			%dt SNAP
			%dd 
				%strong
					Supplemental Nutritional Assistance Program 
				something something.
		%p
			= link_to "More info...", "http://www.fns.usda.gov/wic", :target => "_blank"
	%div.corner