%div.popup
	%div
		%dl 
			%dt WIC
			%dd 
				%strong
					Women, Infants, and Children 
				provides Federal grants to States for supplemental foods, health care referrals, and nutrition education for low-income pregnant, breastfeeding, and non-breastfeeding postpartum women, and to infants and children up to age five who are found to be at nutritional risk.
		%p
			= link_to "http://www.fns.usda.gov/wic", "More info..."
	%div.corner