%div
  .right-column
    .floating-content.hide><
      %span
        %a.button-utility.button-top{ href: '#' }
          %i.fa.fa-chevron-up
          Top
    %span.utility-links
      %span.button-print-container><
        %a.button-utility.button-print.hide{ href: '#' }
          %i.fa.fa-print
          Print
      %span><
        %a.button-utility.button-share-email{ href: mailto_url }
          %i.fa.fa-share
          Email
      - if location.coordinates.present?
        %span><
          %a.button-utility.button-directions{ href: "https://maps.google.com/maps?saddr=current+location&daddr=#{full_address_for(location.address)}", target: '_blank' }
            %i.fa.fa-external-link-square
            %span Directions
      %span
        %a.button-utility.button-back{ href: "#{locations_url(request.query_parameters)}##{location.id}", target: '_self' }
          %i.fa.fa-arrow-circle-left
          Back

  .left-column
    .floating-content.hide
      %h1
        = superscript_ordinals(full_name_content_for(@location))
