%div
  %dl
    %dt Market Match
    %dd
      %strong Market Match
      offers farmers’ market customers an extra $5 when they spend at least $10 on their CalFresh EBT card at participating farmer's markets.
  %p
    = link_to "More info...", "http://www.pcfma.com/pcfma_marketmatch.php", :target => "_blank"
%div.corner