%div
	%dl 
		%dt SFMNP
		%dd 
			%strong
				Senior Farmers' Market Nutrition Program
			provides low-income seniors with coupons that can be exchanged for eligible foods at farmers' markets, roadside stands, and community-supported agriculture programs.
	%p
		= link_to "More info...", "http://www.fns.usda.gov/sfmnp", :target => "_blank"
%div.corner