%div
	%dl 
		%dt SNAP
		%dd 
			%strong
				Supplemental Nutrition Assistance Program 
			offers nutrition assistance to eligible, low income individuals and families and provides economic benefits to communities.
	%p
		= link_to "More info...", "http://www.fns.usda.gov/snap", :target => "_blank"
%div.corner