%div
  %dl
    %dt WIC
    %dd
      %strong
        Women, Infants, and Children
      provides assistance for low-income pregnant, breastfeeding, and non-breastfeeding postpartum women, and to eligible infants and children up to age 5.
  %p
    = link_to 'More info...', 'http://www.fns.usda.gov/wic', :target => '_blank'
%div.corner