// Styles for a single snippet of text with an icon.
// Used in the phone, email, and website styles, for example.
.annotated-text-block {
  .annotation {
    font-size: $font_size_95;
    color: $complementA;
  }
}
