.button-small {
  background: $button-small-bg;
  border: none;

  font-family: $font_san_serif;
  @include type-size(baseline);
  @include rounded-except(none);
  @include box-sizing(border-box);
  padding: 4px 6px;
  cursor: pointer;
  border: 1px solid rgba(0, 0, 0, 0);
  color: $button-small-color;

  .fa {
    color: $button-small-fa-color;
  }
}

.button-small:hover {
  background: $button-small-bg-hover;
  border: 1px solid rgba($primary-darkest, 0.2);
  color: $button-small-hover-color;

  .fa {
    color: $button-small-hover-color;
  }
}

.button-small[disabled],
.button-small[disabled]:hover {
  border:1px solid rgba(0, 0, 0, 0);
  background: none;
  color: lightest($black);
  cursor: default;

  .fa {
    color: lightest($black);
  }
}

a.button-small,
a.button-small:hover {
  font-family: $font_san_serif;
  text-decoration: none;
}

a.translate-active {
  @extend .button-small:hover;
  cursor:default;
}

// Utility buttons appear in the floating header, which is above the search results and
// the details page and is set in a fixed position when the page scrolls.
.button-utility {
  background: $button-utility-bg;
  text-decoration: none;
  @include inline-block();
  @include type-size(baseline);
  letter-spacing: 1px;
  color: $button-utility-color;
  @include box-sizing(border-box);
  padding: 10px;
  margin: 0;
  cursor: pointer;

  .fa {
    color: $button-utility-fa-color;
  }

  &:hover {
    background: $button-utility-bg-hover;
    color: $button-utility-hover-color !important;

    .fa {
      color: $button-utility-hover-color;
    }
  }
}

.button-utility[disabled],
.button-utility[disabled]:hover {
  background: none;
  color: lightest($black);
  cursor: default !important;

  .fa {
    color: lightest($black);
  }
}
