/* ==========================================================================
   Component styles
   ========================================================================== */

//=================================================================================
// Results - terminology infobox. Certain keywords display an informational box
// above the search results. See app/helpers/info_box_helper.rb for more info.
//
.organization-detail {
  display: table;
  border-left: 20px solid $complementA;
  font-family: $font_san_serif;
  background: $primary-lightest;

  .content {
    display: table-cell;
    padding: 20px;
    padding-top: 0;
    background: $white;

    > header {
    padding: 20px;
      > hgroup {
        font-family: $font_serif;

        .name {
          font-size: 24px;
          letter-spacing: 1px;
          display: inline;
          font-family: $font_serif;
        }
      }
    }

    > section {
      padding-left: 10px;
      padding-right: 10px;

      > p {
        margin-top: 5px;
      }
    }

    .website,
    .email {
      font-size: $font_size_100;
      font-family: $font_san_serif;
      color: $black;

      > .fa {
        color: $main-highlight;
      }
    }
  }

  .metadata {
    display: table-cell;
    min-width: 110px;
    vertical-align: top;
    font-size: $font_size_95;
    font-family: $font_san_serif;
    padding: 20px;

    > section {
      margin-bottom: 10px;
      h1 {
        font-weight: bold;
      }
    }

    ul {
      margin-bottom: 0;
      margin-left: 20px;
      list-style-type: square;
      li {
        color: $black;
      }
    }
  }
}

@include site-link('.organization-detail', $greyscale_lightest);
