// Styles for a single phone number that displays an icon, number, extension,
// and optional type and department. Appears on the search results and location
// details views.
.phone {
  .phone-extension {
    font-size: $font_size_95;
  }

  .phone-type {
    font-size: $font_size_90;
    color: $greyscale_midtone;
  }
}
