<% # this is a server-side generated alert, which is not currently used, %>
<% # but it could be in the future, so keeping it around for now %>
<aside id="flash-alert-box">
	<% flash.each do |name, msg| %>
	  <% if msg.is_a?(String) %>
	    <div class="alert alert-<%= name == :notice ? "success" : "error" %>">
	      <a class="close" data-dismiss="alert">&#215;</a>
	      <%= content_tag :div, msg, :id => "flash-#{name}" %>
	    </div>
	  <% end %>
	<% end %>
</aside>