/* ==========================================================================
   Component styles
   ========================================================================== */

// buttons
.button-small
{
  background:none;
  border:none;

  font-size:14px;
  letter-spacing: 1px;
  color:$black;
   @include border-radius(4px);
   @include box-sizing(border-box);
   padding:4px 6px;

  .fa
  {
    color:$blue_darkest;
  }
}

.button-small:hover
{
  background:$blue_dark;
  color:$green_light;

  .fa
  {
    color:$blue_light;
  }
}

a.button-small,
a.button-small:hover
{
  font-family: $san_serif_font;
  border-bottom: none;
}

a.button-small:not([href])
{
  @extend .button-small:hover;
  cursor:default;
}


.button-medium
{
  @extend .button-small;
  font-size:15px;
  letter-spacing: 0px;
  font-family:$san_serif_font;
  padding:7px;
  @include border-radius(4px);
  background:$green_light;
  border:1px solid $blue_darkest;
}

.button-medium:hover
{
  color:$green_light;
  background:$blue_dark;
}


.button-big
{
  @extend .button-medium;
  font-size: 16px;
  margin:0;
  padding:10px;
  vertical-align: baseline;
  @include box-sizing(border-box);
  @include border-radius(4px);
  font-family:$serif_font;

  >span
  {
    @include inline-block();
    vertical-align: baseline;
    color: $black; // IE fallback
    color: $black_alpha50;
    text-shadow: 1px 4px 6px $green_light, 0 0 0 $black, 1px 4px 6px $green_light;
  }
  >.fa
  {
    color:$blue_darkest;
  }
}

.button-big:hover
{
  background:$blue_dark;

  span
  {
    color:$green_light;
    text-shadow: none;
  }
}


// Form input styles

// search
.input-search-small
{
  position:relative;
  width:220px;

  > input::input-placeholder
  {
    color:$black_alpha20;
    font-style: italic;
  }

  > input::-webkit-input-placeholder
  {
    color:$black_alpha20;
    font-style: italic;
  }

  > input:-moz-placeholder
  {
    color:$black_alpha20;
    font-style: italic;
  }

  > input::-moz-placeholder
  {
    color:$black_alpha20;
    font-style: italic;
  }

  > input:-ms-input-placeholder
  {
    color:$black_alpha20;
    font-style: italic;
  }

  > input[type=search]
  {
    font-size:16px;
    margin-left:0px;
    height:40px;
    padding:3px;
    padding-left:6px;
    padding-right:42px;
    font-size: 14px;
    width:100%;
    vertical-align: bottom;

    border-collapse: collapse;
    -webkit-appearance: none; // remove rounding styling of input fields on iOS
    border:1px solid $greyscale_light;
    @include border-radius(4px);
    @include box-sizing(border-box);
  }

  > button
  {
    @extend .button-big;
    height: 40px;
    min-width: 34px;
    border-left: 1px solid $greyscale_light;
    @include border-radius(0px 4px 4px 0px);
    position: absolute;
    right: 0;
    top: 0;
  }

}

.input-search-big
{
  @extend .input-search-small;
  width:440px;

  > input[type=search]
  {
    height:50px;
    padding:10px;
    padding-right: 144px;
    margin:0;
    font-size: 24px;
    vertical-align:middle;
  }

  > button
  {
    height:50px;
    min-width:134px;
    font-size:24px;
    z-index:9998;
  }
}


// pagination styles

.pagination
{
  > h1,ul,li
  {
    @include inline-block();
  }

  li
  {
    vertical-align: baseline;
  }

  a:hover
  {
    text-decoration: underline;
    border-bottom:0;
  }

  .current
  {
    color:$purple_darkest !important;
    font-weight:bold;
    background:$purple_lightest;
    padding-left:5px;
    padding-right:5px;
    padding-top:0;
  }

  .next,
  .prev
  {
    background:$greyscale_light;
    a
    {
      color:$white;
      padding-left:3px;
      padding-right:3px;
      border-bottom:0;
    }
    a:hover
    {
      text-decoration: none !important;
    }
  }

  .next:hover,
  .prev:hover
  {
    background:$purple_darkest;
  }
}