//=================================================================================
// CONSTANTS

//color scheme

// greyscale
$black: rgb(0,0,0);

$greyscale_dark: rgb(87,87,87);
$greyscale_midtone: rgb(128,128,128);
$greyscale_light: rgb(171,171,171);
$greyscale_lightest: rgb(252,252,252);

$white: rgb(255,255,255);

// primary
$blue: rgb(137,209,226);

// secondary A
$green: rgb(209,249,148);

// secondary B
$yellow: rgb(255,200,56);

// complementaryA
$purple: rgb(242,144,191);

// complementaryB
$red: rgb(255,10,50); // alert-error color

//animation settings
$default_duration: 50ms;

// styles
$border_radius_base: 6px;

// fonts
$font_serif: 'Libre Baskerville', serif;
$font_san_serif: 'Quattrocento Sans', sans-serif;

// Font sizes. Relative numbered names (-80,-90,-100,-110...) are used
// instead of labels (small, medium, large) to allow easy insertion
// of additional intermediate sizes. 100 is the baseline.
// The font sizing mixins in _mixins.scss provide mapping of human-readable labels to font sizes.
// For actual font size rhythm calculations, see http://modularscale.com/

// tiny
$font_size_80: 9px;
$font_leading_80: 0.75;

// small
$font_size_90: 12px;
$font_leading_90: 0.75;

// baseline
$font_size_100: 16px;
$font_leading_100: 1;

// medium
$font_size_110: 21px;
$font_leading_110: 1.25;

// large
$font_size_120: 28px;
$font_leading_120: 1.25;

// x-large
$font_size_130: 38px;
$font_leading_130: 1.5;