//=================================================================================
// CONSTANTS

//color scheme

// greyscale
$black: rgb(0,0,0);

$greyscale_dark: rgb(87,87,87);
$greyscale_midtone: rgb(128,128,128);
$greyscale_light: rgb(171,171,171);
$greyscale_lightest: rgb(252,252,252);

$white: rgb(255,255,255);

// primary
$primary: rgb(137,209,226);            // used 18 times w/ no alpha, 1 time w/ alpha
$primary_dark: shade($primary, 25);    // used 19 times w/ no alpha
$primary_darkest: shade($primary, 50); // used 24 times w/ no alpha, 6 times w/ alpha
$primary_light: tint($primary, 25);    // used  7 times w/ no alpha
$primary_lightest: tint($primary, 50); // used 14 times w/ no alpha, 1 time w/ alpha

// secondary A
$secondaryA: rgb(209,249,148);               // used  1 time (in alert _alert.scss:62)
$secondaryA_light: tint($secondaryA, 25);    // used 11 times
$secondaryA_lightest: tint($secondaryA, 50); // used  6 times
$secondaryA_darkest: shade($secondaryA, 50); // used  4 times

// secondary B
$secondaryB: rgb(255,200,56);                // used 2 times
$secondaryB_light: tint($secondaryB, 25);    // used 1 time
$secondaryB_lightest: tint($secondaryB, 50); // used 1 time

// complementaryA
$complementA: rgb(242,144,191);
$complementA_darkest: shade($complementA, 50); // used 19 times
$complementA_light: tint($complementA, 25);    // used  2 times
$complementA_lightest: tint($complementA, 50); // used  6 times w/ no alpha, 4 times w/ alpha

// complementaryB
$complementB: rgb(255,10,50);               // used 1 time, for alert error
$complementB_dark: shade($complementB, 25); // used 1 time, for map load error

//animation settings
$default_duration: 50ms;

// styles
$border_radius_base: 6px;

// fonts
$font_serif: 'Libre Baskerville', serif;
$font_san_serif: 'Quattrocento Sans', sans-serif;

// Font sizes. Relative numbered names (-80,-90,-100,-110...) are used
// instead of labels (small, medium, large) to allow easy insertion
// of additional intermediate sizes. 100 is the baseline.
// The font sizing mixins in _mixins.scss provide mapping of human-readable labels to font sizes.
// For actual font size rhythm calculations, see http://modularscale.com/

// tiny
$font_size_80: 9px;
$font_leading_80: 0.75;

// small
$font_size_90: 12px;
$font_leading_90: 0.75;

// base-small
$font_size_95: 14px;
$font_leading_95: 1;

// baseline
$font_size_100: 16px;
$font_leading_100: 1;

// base-medium
$font_size_105: 18px;
$font_leading_105: 1;

// medium
$font_size_110: 21px;
$font_leading_110: 1.25;

// large
$font_size_120: 28px;
$font_leading_120: 1.25;

// x-large
$font_size_130: 38px;
$font_leading_130: 1.5;
