//=================================================================================
// CONSTANTS

//color scheme

// greyscale
$black: rgb(0,0,0);

$greyscale_dark: rgb(87,87,87);
$greyscale_midtone: rgb(128,128,128);
$greyscale_light: rgb(171,171,171);
$greyscale_lightest: rgb(252,252,252);

$white: rgb(255,255,255);

// primary
$blue: rgb(137,209,226);
$blue_darkest: rgb(45,127,147);
$blue_dark: rgb(119,160,170);
$blue_midtone: rgb(137,209,226);
$blue_light: rgb(169,227,241);
$blue_lightest: rgb(188,231,241);

// secondary A
$green: rgb(209,249,148);
$green_darkest: rgb(117,162,48);
$green_dark: rgb(164,187,130);
$green_midtone: rgb(209,249,148);
$green_light: rgb(222,252,175);
$green_lightest: rgb(230,252,196);

// secondary B
$yellow: rgb(255,200,56);
$yellow_darkest: rgb(255,95,0);
$yellow_dark: rgb(255,136,0);
$yellow_midtone: rgb(255,200,56);
$yellow_light: rgb(255,219,125);
$yellow_lightest: rgb(250,250,210);

// complementaryA
$purple: rgb(242,144,191);
$purple_darkest: rgb(158,47,99);
$purple_dark: rgb(182,127,153);
$purple_midtone: rgb(242,144,191);
$purple_light: rgb(249,173,209);
$purple_lightest: rgb(249,193,219);

// complementaryB
$red: rgb(255,10,50); // alert-error color
$red_dark: rgb(255,10,50);



// component styles
$link_header: $blue_darkest;
$link_header_hover: $purple_darkest;

//animation settings
$default_duration: 50ms;

// fonts
$serif_font: 'Libre Baskerville', serif;
$san_serif_font: 'Quattrocento Sans', sans-serif;

// Font sizes. Relative numbered names (-80,-90,-100,-110...) are used
// instead of labels (small, medium, large) to allow easy insertion
// of additional intermediate sizes. The font sizing mixins in _mixins.scss
// provide mapping of human-readable labels to font sizes.

// tiny
$font-size-80: 10px;
$font-leading-80: 0.75;

// small
$font-size-90: 14px;
$font-leading-90: 0.75;

// base
$font-size-100: 18px;
$font-leading-100: 1;

// medium
$font-size-110: 24px;
$font-leading-110: 1.25;

// large
$font-size-120: 32px;
$font-leading-120: 1.25;

// x-large
$font-size-130: 43px;
$font-leading-130: 1.5;

// The base font size
$base-font-size: 18px;
// Base line height
$base-line-height: 30px;
// Rhythm unit (Compass vertical rhythm)
$rhythm-unit: "rem";

$base-font-family: $san_serif_font;
$base-font-weight: 400;
$base-font-color: #303033;
