/*
 * HTML5 Boilerplate
 *
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 */

img {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Chrome Frame prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

//=================================================================================
// CONSTANTS

//color scheme
$black: rgb(0,0,0);
$black_alpha40: rgba(0,0,0,0.40000000596046);
$blue_dark: rgb(3.00000005867332,73.0000032484531,126.000000089407);
$blue_light: rgb(157.000005841255,235.000001192093,252.000000178814);
$blue_light_alpha40: rgba(157.000005841255,235.000001192093,252.000000178814,0.4);
$blue_midtone: rgb(5.00000017695129,150.000006258488,213.000002503395);
$blue_midtone_alpha30: rgba(5.00000017695129,150.000006258488,213.000002503395,0.3);
$green_dark: rgb(131.000007390976,180.000004470348,26.0000003501773);
$green_light: rgb(209.000002741814,249.000000357628,148.000006377697);
$green_light_alpha70: rgba(209.000002741814,249.000000357628,148.000006377697,0.69999998807907);
$greyscale_dark: rgb(102.000001519918,102.000001519918,102.000001519918);
$greyscale_light: rgb(204.000003039837,204.000003039837,204.000003039837);
$greyscale_midtone: rgb(153.000006079674,153.000006079674,153.000006079674);
$white: rgb(255,255,255);
$white_alpha40: rgba(255,255,255,0.4);
$yellow_dark: rgb(255,235.000001192093,27.0000002905726);
$yellow_light: rgb(255,246.000000536442,177.000004649162);
$yellow_light_alpha40: rgba(255,246.000000536442,177.000004649162,0.4);
$yellow_light_alpha20: rgba(255,246.000000536442,177.000004649162,0.2);

// fonts
$serif_font: 'Average', serif;
$san_serif_font: "Open Sans", Arial, sans-serif;

//animation settings
$default_duration: 150ms;

//=================================================================================


html,body
{
    height: 100%;
    font-family: $serif_font;
}

h1
{
    margin:0;
    font-weight: normal;
}

ul
{
    list-style-type: none;
}

//=================================================================================
// effects styles
.hide
{
   display:none !important; 
}

.transparent
{
    opacity:0;
}

.fade-in
{
    opacity:1;
    transition: opacity 0.25s;
    -webkit-transition: opacity 0.25s; /* Safari */
}

fade-out
{
    opacity:0;
    transition: opacity 0.25s;
    -webkit-transition: opacity 0.25s; /* Safari */
}


//=================================================================================
// splashscreen styles
#splash-screen {
    z-index: 999999;
    background:$blue_dark;
    
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    position: fixed;
}

#splash-screen h1
{
    position: absolute;
    top:0;
    left:0;
    background:$yellow_dark;
    width:100%;
    padding:20px;
    margin:0px;
    text-align:center;
    font-size:1.4em;
}

//=================================================================================
// popup styles - not currently used
/*#message-box
{
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    background:$yellow_dark;
    border: 1px solid $green_dark;
    box-shadow:0px 0px 10px $black_alpha40;
    color:#000;
    position: absolute;
    top: 40px;
    left: 310px;
    z-index: 1;
}

#message-box p
{
    padding:10px;
    margin:0;
}

#message-box .corner
{
    width:10px;
    height:10px;
    background:$yellow_dark;
    border-right: 1px solid $green_dark;
    border-bottom: 1px solid $green_dark;
    transform: rotate(45deg) ;
    -webkit-transform: rotate(45deg) ;
    -moz-transform: rotate(45deg) ;
    -o-transform: rotate(45deg) ;
    -ms-transform: rotate(45deg) ;
    position: absolute;
    top: 38px;
    left: 20px;
    box-shadow:0px 0px 10px $black_alpha40;
}*/

//=================================================================================
// logo/header area
#main-header
{
    position:relative;
    z-index:99998;
    background:$white;
    width: 100%;
    box-shadow: 0px 0px 10px $black_alpha40;


    /*
    background: rgb(3,60,102);
    background: -moz-linear-gradient(top,  rgba(3,60,102,1) 0%, rgba(3,73,126,1) 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(3,60,102,1)), color-stop(100%,rgba(3,73,126,1)));
    background: -webkit-linear-gradient(top,  rgba(3,60,102,1) 0%,rgba(3,73,126,1) 100%);
    background: -o-linear-gradient(top,  rgba(3,60,102,1) 0%,rgba(3,73,126,1) 100%); 
    background: -ms-linear-gradient(top,  rgba(3,60,102,1) 0%,rgba(3,73,126,1) 100%); 
    background: linear-gradient(to bottom,  rgba(3,60,102,1) 0%,rgba(3,73,126,1) 100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#033c66', endColorstr='#03497e',GradientType=0 );
    */

    border-bottom:1px solid $blue_midtone_alpha30;
}

#main-header .mini 
#logo a
{
    color:$blue_light;
    text-decoration:none;
    display:block;
}

#main-header #logo a
{
    font-size:1.4em;
    color:$black_alpha40;
    padding:10px;
    padding-left:13px;
    text-decoration:none;
    display:inline-block;
}

//=================================================================================
// utility area
#utility-screens
{
    position:relative;
    width:100%;
}

#utility-screens section
{
    display:inline-block;
    text-align:left;
}

#utility-screens nav > *
{
    display: inline-block;
}

#utility-screens nav *.fixed
{
    /*position:absolute;
    right:10px;
    z-index: 999999;*/
    position: fixed;
    right: 0;
    top: 0;
    background: $blue_dark;
    height: 100%;
    padding: 10px;
    padding-right: 20px;
    border-left:1px dotted $black;
    box-shadow: 0px 0px 20px $black_alpha40;
}

#utility-screens footer
{
    position:fixed;
    bottom:10px;
    right:10px;
}

#utility-screens nav button
{
    margin-top:5px;
    display:block;
    border-radius: 3px;
    line-height:23px;
    height:25px;
    min-width:25px;
    box-shadow: 0 2px 5px $black_alpha40;
    background: $blue_light;    
    font-family: $san_serif_font;
    font-size:0.6em;
    cursor:pointer;
    text-align: center;
    border:0px;
    border-collapse:collapse;
}

#utility-screens nav button h1
{
    pointer-events:none;
}

#utility-screens nav button.over
{
    background: $blue_midtone;

    -webkit-transition: background $default_duration;
    -moz-transition: background $default_duration;
    transition: background $default_duration;
}

#utility-screens nav button.disabled
{
    background: $greyscale_light;
    color: $black_alpha40;
    cursor:default;
}

#utility-screens a
{
    text-decoration: none;
}

#utility-screens nav #logo button
{
    display:inline-block;
}

//=================================================================================
// help/info box
#info-screen
{
    background: $black_alpha40;
    position:fixed;
    z-index: 999998;
    top:0;
    left:0;
    width: 100%;
    height: 100%;
}


#info-screen.mini
{
    opacity:0;
    cursor: auto;
    pointer-events:none;
    
    -webkit-transition: opacity $default_duration;
    -moz-transition: opacity $default_duration;
    transition: opacity $default_duration;
}

#info-screen.max
{
    opacity:1;
    pointer-events:auto;
    cursor: pointer;
    
    -webkit-transition: opacity $default_duration;
    -moz-transition: opacity $default_duration;
    transition: opacity $default_duration;
}

#info-screen div
{
    background:$blue_light;
    position: absolute;
    left:50%;
    margin-left:-250px;
    width:500px;
    
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 13px;
    line-height: 20px;
    box-sizing: border-box;

    border-radius: 3px;
    padding: 10px 20px 20px 20px;
    overflow: hidden;
    box-shadow: 0 2px 5px $black_alpha40;

}

#info-screen.min div
{
    top:-99999px;
    
    -webkit-transition: top $default_duration;
    -moz-transition: top $default_duration;
    transition: top $default_duration;
}

#info-screen.max div
{
    top:-10px;

    -webkit-transition: top $default_duration;
    -moz-transition: top $default_duration;
    transition: top $default_duration;
}

#info-screen div h1
{
    font-size: 24px;
    margin-top: 20px;
}

//=================================================================================
// search options box
#search-options-screen
{
    background: $blue_midtone;
    padding-top:5px;
    vertical-align: top;
    width:100px;
    position:relative;
}

/*
#search-options-screen div
{
}

#search-options-screen.slide-in div
{
    display:none;
}

#search-options-screen.slide-out div
{
    display:block;
}

#search-options-screen > button
{
    left: -25px;
    top: 0;
    position: absolute;

    margin-top:5px;
    display:block;
    border-radius: 3px 0px 0px 3px;
    line-height:23px;
    height:25px;
    min-width:25px;
    
    background: $blue_midtone;    
    font-family: $san_serif_font;
    font-size:0.6em;
    cursor:pointer;
    text-align: center;
    border:0px;
    border-collapse:collapse;
}
*/

#search-options-screen button h1
{
    font-size:1.2em;
}

#search-options-screen div h1
{
    font-size: 0.8em;
    margin: 0;
    color: $black_alpha40;
    padding-left: 10px;
    font-style: italic;
    padding-top: 5px;
}


#search-options-screen legend,
#search-options-screen label,
{
    font-family:sans-serif;
}


#search-options-screen legend
{
    font-weight:bold;
    color:$black;
    padding:0px;
}

#search-options-screen fieldset
{
    font-size:0.8em;
    padding:10px;
    border: 1px solid $black_alpha40;
    margin: 10px;
}


//=================================================================================
// main content box
#main-content
{
    display: table;
    width: 100%;
    height: 100%;
}

#main-content main
{
    display:table-row;
}

#main-content main > *
{
    display:table-cell;
    height: 100%;
}

#main-content
{
    transition: min-height 0.25s;
    -webkit-transition: min-height 0.25s; /* Safari */

    min-height:100px;
}

.home #main-content
{
    position:relative;
    min-height:100%;
}

//=================================================================================
// search screen styles
.home #search-content
{
    background:$blue_midtone;

    background: $blue_midtone; /* Old browsers */
    background: -moz-radial-gradient(center, ellipse cover,  $blue_midtone 20%, $blue_dark 100%); /* FF3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(20%,$blue_midtone), color-stop(100%,$blue_dark)); /* Chrome,Safari4+ */
    background: -webkit-radial-gradient(center, ellipse cover,  $blue_midtone 20%,$blue_dark 100%); /* Chrome10+,Safari5.1+ */
    background: -o-radial-gradient(center, ellipse cover,  $blue_midtone 20%,$blue_dark 100%); /* Opera 12+ */
    background: -ms-radial-gradient(center, ellipse cover,  $blue_midtone 20%,$blue_dark 100%); /* IE10+ */
    background: radial-gradient(ellipse at center,  $blue_midtone 20%,$blue_dark 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0596d5', endColorstr='#03497e',GradientType=1 ); /* IE6-9 fallback on horizontal gradient */

}

#search-content
{
    background:$blue_light_alpha40;
}

.home #search-screen
{
    min-width:664px;
    position:relative;
}


//=================================================================================
// search box styles

#search-box.mini
{
    padding-left: 15px;
    box-shadow: 0 0 5px $black_alpha40;
    border-radius: 5px;
    margin: 10px;
    padding: 10px;
    border: 1px solid $white_alpha40;
    background: $blue_light_alpha40;
}

#search-box.mini div
{
    display:block;
}

#search-box.mini label
{
    font-size: 1em;
    letter-spacing: 2px;
    color:$white;
    text-align: right;
}

#search-box.mini label span
{
//    color:$blue_light;
    display:none;
}

#search-box.large 
{
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -322px;
    margin-top: 100px; 
    display: table;
    width:644px;
}

#search-box.large  div
{
    display:table-row;
    position: relative;
}

#search-box.large label
{
    display:table-cell;
    font-size: 48px;
    letter-spacing: 2px;
    color:$blue_dark;
    text-align: right;
    width: 300px;
}

#search-box.large label span
{
    color:$blue_light;
}




// search terms styles
#search-box input
{
    background:$blue_light;
    padding:10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    border-width:1px;
    border-color:$blue_midtone;
    border-collapse: collapse;
    position: relative;
}

#search-box.large input
{
    display:table-cell;
    margin-left: 20px;
    top: -10px;
    width:300px;
    font-size: 18px;    
}

#search-box.large input::-webkit-input-placeholder
{
    color:$greyscale_midtone;
}

#search-box.mini input
{
    height:0px;
    font-size: 12px;
    background:$white;
    margin-bottom:5px;
}

#search-box.mini input::-webkit-input-placeholder
{
    color:$greyscale_midtone;
}


// find button styles
#search-box button
{
    background:$green_dark;
    margin:10px auto;
    color:$yellow_light;
    border:1px solid $yellow_light_alpha40;
    font-family: 'Average', serif;
    letter-spacing: 2px;
    border-radius:3px;
    padding:6px;
    background: rgb(131,180,26); /* Old browsers */
    background: -moz-linear-gradient(top,  rgba(131,180,26,1) 0%, rgba(119,163,24,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(131,180,26,1)), color-stop(100%,rgba(119,163,24,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  rgba(131,180,26,1) 0%,rgba(119,163,24,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  rgba(131,180,26,1) 0%,rgba(119,163,24,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  rgba(131,180,26,1) 0%,rgba(119,163,24,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom,  rgba(131,180,26,1) 0%,rgba(119,163,24,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#83b41a', endColorstr='#77a318',GradientType=0 ); /* IE6-9 */
}

#search-box.large button
{
    display:table-cell;
    font-size:20px;
    width:100%;
    position: absolute;
    box-shadow: 0px 0px 5px $black_alpha40;    
}

#search-box button:hover
{
    border:1px solid $yellow_dark;
    color:$yellow_dark;

    -webkit-transition: border $default_duration;
    -moz-transition: border $default_duration;
    transition: border $default_duration;
}

#search-box.mini button
{
    width:100%;
    font-size: 12px;
    margin:0;
}

//=================================================================================
// Inside content
#inside-content
{
    font-family: $san_serif_font;
}

//=================================================================================
// Categories list screen
    
#category-screen
{
    background: $yellow_light;
}

#category-screen header
{
    border-bottom:1px solid hsl(0,0%,90%);
    background:#f9f594;   
    padding: 7px;
}

#category-screen h1
{
    font-variant: small-caps;
    font-size: 11px;
    color: $blue_dark;
}

#category-screen h1,
#category-screen a
{
    font-family: Sans-Serif;
    letter-spacing: 1px;
    margin: 0px;
    cursor:default;
}

#category-screen h1
{
    margin-left:4px;
    display: inline-block;
}

#category-screen nav
{
    display: inline-block;
}

#category-screen a
{
    font-size:9px;
    font-weight:bold;
    color:$greyscale_midtone;
    padding-left:10px;
    border-left:2px solid $yellow_dark;
}

#category-screen a.current-breadcrumb
{
    color:$blue_dark;
}

#category-screen a.breadcrumb:hover
{
    text-decoration: underline;
    cursor:pointer;
}

.category-entry
{
    border-bottom:1px dashed $blue_light;
}

.category-entry-hover
{
    background:$blue_light;
    cursor:pointer;
}

.category-entry-selected
{
    background:$yellow_dark;
}

.category-entry > span
{
    pointer-events: none;
    vertical-align: top;
    padding: 10px;
    padding-left:20px;
    display: inline-block;
}

.category-entry .category-title
{
    //border-left:10px solid $yellow_dark;
}

//=================================================================================
// Results list screen
    
#results-list
{
}

#results-list header
{
    border-bottom:1px solid greyscale_midtone;
    background:$blue_midtone; 
    /*box-shadow: 0px 0px 10px $black_alpha40;*/
}

#results-list header h1,
#results-list h2 /* details list */
{
    font-size: 12px;
    letter-spacing: 1px;
    margin: 0px;
    margin-left: 4px;
    color: $black_alpha40;
    padding: 10px;
    display: inline-block;
    cursor:default;
    font-weight: bold;
}

#results-list ul
{
    padding:0;
}

#results-list nav
{
    display:inline-block;
    color: $white;
    font-size:12px;
    margin-top:10px;
}

#results-list a
{
    text-decoration: none;
}

.results-entry > h1
{
    font-size: 16px;
    color:$blue_dark;
    padding: 10px;
    padding-left:20px;
}

.results-entry p
{
    margin:0;
}

.results-entry p:last-child
{
    font-size:12px;
    margin-left:20px;
    color:$blue_midtone;
}

.results-entry
{
    border-bottom:2px solid $white;
    padding:5px;
    font-family:$san_serif_font;
    letter-spacing:1px;
    margin-left:15px;
    margin-right:15px;
    background:$blue_light_alpha40;
}

#results-list li:first-child .results-entry
{
    border-radius:10px 10px 0px 0px;
}

#results-list li:last-child .results-entry
{
    border-radius:0px 0px 10px 10px;
    border-bottom:0;
}

#results-list li:nth-child(2n-1) .results-entry
{
    background:$blue_midtone_alpha30;
    box-shadow: inset 0px 0px 10px $blue_midtone_alpha30;
}

#results-list li:nth-child(2n) .results-entry
{
    background:$blue_light_alpha40;
    box-shadow: inset 0px 0px 10px $blue_light;
}


#results-list li .results-entry:hover
{
    background:$green_light;
    cursor:pointer;
}

.results-entry > span
{
    pointer-events:none;
    vertical-align: top;
    padding:20px;
    display:inline-block;
}


//=================================================================================
// Detail list screen
#results-list nav a
{
    color: $green_dark;
    font-weight:bold;
    background:$green_light;
    padding:5px;
    border-radius:5px;
}

#detail-info
{
    padding:10px;
    margin:15px;
    border-radius:10px 10px;
    background:$blue_midtone_alpha30;
    box-shadow: inset 0px 0px 10px $blue_light;
    color:$blue_dark;
    padding-left: 25px;
}

#detail-info p
{
    margin:0;
    font-size:12px;
    margin-left:20px;
    color:$blue_midtone;
}

#results-list #detail-screen ul
{
    margin-top: 0;
}

#detail-info .name
{
    font-weight:bold;
    color:$black;
    font-family: Average;
}

#detail-info .streetview
{
    border:1px solid $greyscale_midtone;
    width:320px;
    height:240px;
}

#detail-info .map
{
    border:1px solid $greyscale_midtone;
    width:320px;
    height:240px;
}












/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Image replacement
 */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    /* IE 6/7 fallback */
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 150%;
}

/*
 * Hide from both screenreaders and browsers: h5bp.com/u
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screenreaders: h5bp.com/v
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element to be focusable
 * when navigated to via the keyboard: h5bp.com/p
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screenreaders, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/*
 * For IE 6/7 only
 * Include this rule to trigger hasLayout and contain floats.
 */

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   Theses examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid required HTTP connection: h5bp.com/r
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
