@font-face {
    font-family: 'ohanaiconsregular';
    src: url('ohanaicons-webfont.eot');
    src: url('ohanaicons-webfont.eot?#iefix') format('embedded-opentype'),
         url('ohanaicons-webfont.woff') format('woff'),
         url('ohanaicons-webfont.ttf') format('truetype'),
         url('ohanaicons-webfont.svg#ohanaiconsregular') format('svg');
    font-weight: normal;
    font-style: normal;
}