/* ==========================================================================
   Print styles.
   ========================================================================== */

@media print {

  /*
  * HTML5 Boilerplate
  */
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important; /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  /*
  // Below are default HTML5 Boilerplate (H5bp) styles that aren't
  // used in this app. Kept here for making syncing with H5bp easier.
  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  */

  /*
  * Don't show links that are fragment identifiers,
  * or use the `javascript:` pseudo protocol
  */
  /*
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  */

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group; /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }


/* ==========================================================================
   Author's custom styles
   ========================================================================== */

  // Show the href value of footer links.
  #app-footer a[href]:after {
      content: " (" attr(href) ")";
      color: rgba($black, 0.6);
      font-size: $font_size_90;
  }

   // Header area of all pages.
  #content > header {
    font-size: 14px !important;
  }

  // Hide utility links (about, feedback).
  #content-header nav {
    display: none !important;
  }

  #logo a {
    border-bottom: none !important;
  }

  #app-footer {
    p {
      padding: 0;
      padding-right: 20px;
    }

    .get-this-app,
    #google-translate-container,
    .cfaflag {
      display: none !important;
    }
  }

  .inside {

    // Hide search result header.
    #results-container {
      margin-left:0 !important;
      border-left:0 !important;
      padding-top:0 !important;

      .results-header {
        display:none !important;
      }
    }

    // Hide search sidebar.
    #search-container {
      display:none !important;
    }

    #detail-info {
      border:0 !important;
      margin:0;

      > header {
        border-bottom: none !important;
        padding: 0 !important;
      }

      a {
        text-decoration: none !important;
        border-bottom: none !important;
      }

      > .location-sidebar-box {
        float: none;
        width: 100%;
        margin: 0;
        margin-left: 20px;
        margin-right: 20px;
        > section > section {
          display: block !important;
          float: none !important;
          h1 {
            font-weight: bold;
          }
          * {
            vertical-align: top;
            font-size: 14px !important;
            line-height: 14px !important;
          }
        }
      }

      .location-sidebar {
        padding-bottom: 0;
        margin-bottom: 0;
      }

      .location-sidebar-content > section,
      .location-sidebar-content-group > section {
        @include inline-block();
        vertical-align: top;
        margin-right: 10px;
      }

      // Hide the categories box.
      .categories-box {
        display: none !important;
      }

      // Lighten annotations.
      .annotation,
      .contact-title,
      .contact-department {
        color: rgba($black, 0.4) !important;
      }

      .overview-box {
        margin-right:0 !important;
      }

      .map-box {
        page-break-before: always;

        div > section
        {
          display:block !important;
        }
      }

      .map {
        margin:0;
        padding:0;
      }
    }

    // Stack content sections in rows.
    #detail-info > * > section * > section {
      @include inline-block();
    }

    #detail-info .metadata {
      .button-edit {
        display: none !important;
      }
    }

    #results-entries {
      li {
        // needed for FF to display result list item links
        a {
          display: block !important;
        }
      }

      a:after {
        display: none !important;
      }
    }
  }
}