%section#inside-content
	%section#results-screen
		%header
			%h1
				Service Providers
			%nav
				== #{@results_count}
		%section#results-list
		- @locations.each do |location|
			%section{:class => "results-entry", :title=>"location_#{location.id}"}
				%span.results-title
					%h3
						= link_to location.name, organization_path(location)
					= location.address
