<h3>organizations</h3>
<div class="span8">
<table class="table table-condensed">
  <thead>
    <tr>
      <th>Name</th>
      <th>Address</th>
    </tr>
  </thead>
  <tbody>
  <% @organizations.each do |org| %>
    <tr>
      <td><%= link_to org.name, org %></td>
      <td><%= org.address %></td>
    </tr>
  <% end %>
  </tbody>
</table>
</div>
