---
http_interactions:
- request:
    method: get
    uri: https://api-staging.smc-connect.org/locations/san-pedro-valley-park
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"bbee70f24d7dafb66ec4ab32dccebc57"
      Last-Modified:
      - Wed, 26 Nov 2014 01:22:20 GMT
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":1540,"active":true,"admin_emails":null,"alternate_name":null,"coordinates":[-122.4763813,37.58061319999999],"description":"Located
        at the end of Linda Mar Blvd., this 1,140-acre park has six hiking trails.
        It is also equipped with picnic tables, barbeque pits and restrooms. The area
        for groups of 50-200 people can be reserved up to a year in advance. Overnight
        camping is only available for youth groups. Pets are prohibited. Some facilities
        and trails are accessible to disabled persons. A visitor center is open to
        the public on weekends, 10-4.","kind":"Parks","latitude":37.58061319999999,"longitude":-122.4763813,"name":"San
        Pedro Valley Park","short_desc":"Hiking trails, picnic sites, barbeque pits,
        camping for youth groups.","slug":"san-pedro-valley-park","updated_at":"2014-11-25T17:22:20.347-08:00","website":"http://www.eparks.net","url":"https://api-staging.smc-connect.org/locations/san-pedro-valley-park","accessibility":["Ramp","Disabled
        Restroom","Disabled Parking","Wheelchair"],"email":"slombardi@co.sanmateo.ca.us","hours":null,"languages":[],"transportation":"SAMTRANS
        stops within 2 blocks.","address":{"id":1276,"address_1":"600 Oddstad Blvd.","address_2":null,"city":"Pacifica","state_province":"CA","postal_code":"94044"},"organization":{"id":1313,"alternate_name":null,"name":"San
        Mateo County Parks Department","slug":"san-mateo-county-parks-department","url":"https://api-staging.smc-connect.org/organizations/san-mateo-county-parks-department"},"phones":[{"id":2179,"department":"Park","extension":null,"number":"650
        355-8289","number_type":"voice","vanity_number":null},{"id":2180,"department":"Reservations","extension":null,"number":"650
        363-4021","number_type":"voice","vanity_number":null},{"id":2181,"department":null,"extension":null,"number":"650
        325-6973","number_type":"tty","vanity_number":null},{"id":3477,"department":null,"extension":null,"number":"650
        738-1410","number_type":"fax","vanity_number":null}],"contacts":[{"id":1820,"department":null,"email":null,"name":"Scott
        Lombardy","title":"Supervising Ranger","phones":[]}],"mail_address":{"id":1537,"attention":"San
        Pedro Valley Park","address_1":"600 Oddstad Blvd.","address_2":null,"city":"Pacifica","state_province":"CA","postal_code":"94044"},"regular_schedules":[],"holiday_schedules":[],"services":[{"id":1540,"accepted_payments":[],"alternate_name":null,"application_process":"Phone
        Reservations for a group permit or the park for information from a ranger
        or visit Web site.","audience":"Hikers, picnickers","description":null,"eligibility":"None","email":null,"fees":"$5
        per car. Open group areas rent for a minimum of $70. Rate varies depending
        on size of group and area reserved. Cash, checks and credit cards accepted.","funding_sources":["County"],"interpretation_services":null,"keywords":["RECREATION/LEISURE
        SERVICES","Camping","Parks/Playground","City/County Parks","Youth"],"languages":[],"name":null,"required_documents":[],"service_areas":["Alameda
        County","Contra Costa County","Marin County","San Francisco County","San Mateo
        County","Santa Clara County"],"status":"active","website":null,"wait_time":"Varies
        according to season. Reservations can be made up to a year in advance.","updated_at":"2014-05-24T14:07:17.337-07:00","categories":[],"contacts":[],"phones":[],"regular_schedules":[],"holiday_schedules":[]}]}'
  recorded_at: Wed, 08 Mar 2023 04:51:08 GMT
recorded_with: VCR 6.1.0
