---
http_interactions:
- request:
    method: get
    uri: https://api-staging.smc-connect.org/locations/admin-test-location
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Etag:
      - W/"c97cbc8f371077868901f4f765be3026"
      Last-Modified:
      - Thu, 19 Jan 2023 01:45:31 GMT
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"id":1910,"active":false,"admin_emails":[],"alternate_name":"","coordinates":[-122.28691,37.5291941],"description":"This
        is a description","kind":"Other","latitude":37.5291941,"longitude":-122.28691,"name":"Admin
        Test Location","short_desc":"This is a short description","slug":"admin-test-location","updated_at":"2023-01-18T17:45:31.601-08:00","website":null,"url":"https://api-staging.smc-connect.org/locations/admin-test-location","accessibility":["Elevator","Disabled
        Restroom"],"email":null,"hours":"Monday-Friday 10am-5pm","languages":[],"transportation":null,"address":{"id":1614,"address_1":"123
        El Camino Real","address_2":null,"city":"Belmont","state_province":"CA","postal_code":"94002"},"organization":{"id":1438,"alternate_name":null,"name":"Admin
        Test Org","slug":"admin-test-org","url":"https://api-staging.smc-connect.org/organizations/admin-test-org"},"phones":[],"contacts":[{"id":2055,"department":"Office
        of Innovation","email":null,"name":"Moncef","title":null,"phones":[]}],"mail_address":null,"regular_schedules":[{"weekday":1,"opens_at":"2000-01-01T10:00:00.000Z","closes_at":"2000-01-01T17:00:00.000Z"},{"weekday":2,"opens_at":"2000-01-01T10:00:00.000Z","closes_at":"2000-01-01T17:00:00.000Z"},{"weekday":3,"opens_at":"2000-01-01T10:00:00.000Z","closes_at":"2000-01-01T17:00:00.000Z"},{"weekday":4,"opens_at":"2000-01-01T10:00:00.000Z","closes_at":"2000-01-01T17:00:00.000Z"},{"weekday":5,"opens_at":"2000-01-01T10:00:00.000Z","closes_at":"2000-01-01T17:00:00.000Z"}],"holiday_schedules":[],"services":[{"id":1872,"accepted_payments":[],"alternate_name":null,"application_process":"By
        phone during business hours.","audience":null,"description":"just a test service","eligibility":null,"email":null,"fees":null,"funding_sources":[],"interpretation_services":null,"keywords":[],"languages":[],"name":"Service
        for Admin Test Locatio","required_documents":[],"service_areas":["Belmont"],"status":"inactive","website":null,"wait_time":null,"updated_at":"2023-01-18T17:45:31.599-08:00","categories":[],"contacts":[],"phones":[],"regular_schedules":[],"holiday_schedules":[]}]}'
  recorded_at: Wed, 08 Mar 2023 04:57:01 GMT
recorded_with: VCR 6.1.0
