%article#contribute-box
  %div.close-button
  %div
    %h1 Want to help make this better?
    %p
      This project is open source, meaning you can contribute! Development is taking place on GitHub.com.
    %p
      = link_to "Visit project on GitHub", "https://github.com/smcgov/SMC-Connect", :target=>"_blank"
      %br
      = link_to "File a bug/suggestion", "https://github.com/smcgov/SMC-Connect/issues", :target=>"_blank"