%article#contribute-box
	%h1 Contribute
	%p
		= link_to "View source code", "https://github.com/codeforamerica/human_services_finder", :target=>"_blank"
		= link_to "File a bug/suggestion", "https://github.com/codeforamerica/human_services_finder/issues", :target=>"_blank"