%article#feedback-box
	%div
		%h1
			Want to get in touch?
		%p
			Submit comments to the development team:

		%p#feedback-status.hide
			Submit feedback!
		%p
			%label{:for=>'comment'}
				Comment:
			%textarea{:name=>"comment", :id=>"comment", :placeholder=>"enter your comment, question, etc.", :rows=>"4", :required=>""}
		%p
			%label{:for=>'email'}
				Email:
			%input{:name=>"email", :id=>"email", :type=>"email", :placeholder=>"your email address (optional)"}

		%p
			%button{:type=>"submit",:id=>"feedback-form-btn",:disabled=>'disabled'}
				Send!