%article#feedback-box
  %div.close-button
  %div
    %h1
      Want to get in touch?
    %p
      Submit comments to the development team:

    %div#feedback-form
      %p#feedback-status.hide
        Submit feedback!
      %p
        %label{ for: 'comment' }
          Comment:
        %textarea{ name: 'comment', id: 'comment', placeholder: 'enter your comment, question, etc.', rows: '4', required: ''}
      %p
        %label{ for: 'email' }
          Email:
        %input{ name: 'email', id: 'email', type: 'email', placeholder: 'your email address (optional)', pattern: '/.+@.+\..+/i' }

      %p
        %button{ type: 'submit', id: 'feedback-form-btn', disabled: 'disabled' }
          Send!

    %noscript
      %style
        -# hides map when JS is disabled
        = '#feedback-form {display:none;}'
      = link_to 'Visit this form','http://ohanapi.org/#contribute', :target => '_blank'
      to submit comments.