- title search_results_page_title
= render 'component/search/aside'
%section#results-container{ class: ('result-map-showing' if @search.map_data.size != 0) }
  = render 'component/locations/results/body'
