<header>
    <div id="logo"><%= link_to "Human Services Finder", root_path, :class => 'brand' %></div>
</header>

<section id="help-screen" class="max">
  <div>
    <h1>Find resources near you</h1>
    <p>Retrieve detailed information on the services available in your area. To get started, enter your address below and click 'search'.</p>
    <p><a href="#">[close]</a></p>
  </div>
</section>