- if action_name == 'show'
	%header
		%h1
			Service Provider
		%nav
			%a{:href=>session[:search_results]}
				%span{"data-icon"=>"r" , :class=>"ohana-icon"}
				Return to results
- elsif action_name == 'index'
	%header
		%h1
			Service Providers
		%nav
			%span{"data-icon"=>"b" , :class=>"browse ohana-icon"}
			== #{@results_text}