%fieldset
	%legend Locations
	%label{:for=>"miles"}
		Search radius:
	= select_tag :miles, options_for_select([['1 mile', 1],['2 miles', 2],['3 miles', 3],['4 miles', 4],['5 miles', 5],['10 miles', 10],['20 miles', 20],['30 miles', 30],['40 miles', 40],['50 miles', 50]], :selected => 2)