%div
  .left-column
    %span.static-content><
      - if @search.map_data.size != 0
        %a#map-view-control{ :href => '#', :class=>"button-utility button-map-zoom"}
          %i{ :class => "fa fa-plus-square" }
          Larger map
    %p.search-summary
      %span
        = page_entries_info @search.results, entry_name: 'result'

      %span.map-summary.static-content
        = map_summary if @search.map_data.size != 0

  .right-column
    .floating-content.hide><
      %span
        %a{ href: '#', class: 'button-utility button-top' }
          %i{ class: 'fa fa-chevron-up' }
          Top

    = paginate @search.results
