%header.results-header#floating-results-header
  = render 'component/locations/results/header_summary'

-# Persistent header duplicate needed to maintain layout when header floats
%header.results-header.persistent#persistent-results-header
  = render 'component/locations/results/header_summary'
