%div
  .left-column
    %span.static-content><
      - if @search.map_data.size != 0
        %a#map-size-control.button-utility.button-map-zoom{ href:'#', disabled: 'disabled'}
          %i{ class: 'fa fa-refresh fa-spin' }
          Loading map...
    %p.search-summary
      %span
        = page_entries_info @search.results, entry_name: 'result'

      %span.map-summary.static-content
        = map_summary if @search.map_data.size != 0

  .right-column
    .floating-content.hide><
      %span
        %a.button-utility.button-top{ href: '#' }
          %i{ class: 'fa fa-chevron-up' }
          Top

    = paginate @search.results
