%div
  .right-column
    .floating-content.hide><
      %span
        %a.button-utility.button-top{ href: '#' }
          %i.fa.fa-chevron-up
          Top

    = paginate @search.results

  .left-column
    %span.static-content><
      - if @search.map_data.size != 0
        %a.button-utility.button-map-zoom#map-size-control{ href: '#', disabled: 'disabled' }
          %i.fa.fa-refresh.fa-spin
          Loading map...
    %p.search-summary
      %span
        = page_entries_info @search.results, entry_name: 'result'

      %span.map-summary.static-content
        = map_summary if @search.map_data.size != 0
