%section#map-view
  #map-canvas
  = render 'component/search/map_data'
  %noscript
    -# Hide map when JavaScript is disabled.
    :sass
      #floating-results-header .static-content,
      #map-view
        display: none !important
