%section#map-view
  #map-canvas
    %script#map-locations-data{ type: 'application/json' }
    = raw(search.map_data.to_json)
  %noscript
    -# Hide map when JavaScript is disabled.
    :sass
      #floating-results-header .static-content,
      #map-view
        display: none !important
